# Time Series
## 시계열
p393

In [1]:
import numpy as np
import pandas as pd
# np.random.seed(12345)
import matplotlib.pyplot as plt

In [ ]:
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

## Date and Time Data Types and Tools

In [118]:
from datetime import datetime

In [6]:
now = datetime.now()
print(type(now))
now
now.year, now.month#, now.day
(now.year, now.month, now.day)
now.year, now.month, now.day

<class 'datetime.datetime'>

(2018, 3, 20)

#### days는 timedelta 에다 붙이는 것!
datetime type이 아니라
#### 근데 day는 datetime에 붙인다..?

In [8]:
# now.days
# AttributeError: 'datetime.datetime' object has no attribute 'days'

In [12]:
# delta.day
# AttributeError: 'datetime.timedelta' object has no attribute 'day'

#### timedelta- 말 그대로 시간차

In [13]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print(delta)
print(type(delta))
delta.days
delta.seconds

926 days, 15:45:00
<class 'datetime.timedelta'>

56700

In [14]:
from datetime import timedelta

##### 기본값 day
- +12일
- -24일

In [17]:
start = datetime(2011, 1, 7)
print(start + timedelta(12))
print(start - 2 * timedelta(12))
start - 2 * timedelta(12)

2011-01-19 00:00:00
2010-12-14 00:00:00

datetime.datetime(2010, 12, 14, 0, 0)

### Converting Between String and Datetime
%h 는 왜 영어 월의 축약형?? https://www.tutorialspoint.com/python/time_strptime.htm

In [28]:
stamp = datetime(2018, 3, 22, 13)
str(stamp)

'2018-03-22 13:00:00'

In [31]:
stamp.strftime('%Y-%m-%d %H')

'2018-03-22 13'

In [34]:
stamp.strftime('%Y-%m-%d %I')

'2018-03-22 01'

In [30]:
stamp.strftime('%c')

'Thu Mar 22 13:00:00 2018'

In [119]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [37]:
datestrs = ['7/6/2011', '8/6/2011']
print([datetime.strptime(x, '%m/%d/%Y') for x in datestrs])
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [39]:
from dateutil.parser import parse

In [40]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [48]:
print(parse('2011-01-03'))

2011-01-03 00:00:00

In [47]:
# parse('2011,1,03') ValueError: Unknown string format

In [44]:
# parse('2011늰01율03') ValueError: Unknown string format

In [49]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [ ]:
parse('6/12/2011', dayfirst=True)

### R에는 정규식으로 아무 format이나 다 되는거 있는데..

# 성공
[python date format regex](https://stackoverflow.com/questions/9978534/match-dates-using-python-regular-expressions)

In [38]:
import re
from dateutil.parser import parse

def str2date_all(datestring):
        try:
                mat=re.match('(\d{1,4})\D*(\d{1,4})\D*(\d{1,4})\D*', datestring)
                if mat is not None:
                    #print('매칭은 잡힘')
                    #dateFormStr= mat.groups()[0]+'-'+mat.groups()[1]+'-'+mat.groups()[2]
                    dateFormStr= '-'.join(mat.groups())
                    return parse(dateFormStr)
        except ValueError:
                pass
        return datestring

In [39]:
datestring= '2018늰3우오오올20윈 2018늰3우오오올20윈'
print(str2date_all(datestring))
str2date_all(datestring)

2018-03-20 00:00:00

datetime.datetime(2018, 3, 20, 0, 0)

In [68]:
# test
datestring= '2018늰3우오오올20윈 2018늰3우오오올20윈'
mat=re.match('(\d{1,4})\D*(\d{1,4})\D*(\d{1,4})\D*', datestring)
print('join:','-'.join(mat.groups()))
print("mat :",mat.groups()[0]+'-'+mat.groups()[1]+'-'+mat.groups()[2])
print(parse(mat.groups()[0]+'-'+mat.groups()[1]+'-'+mat.groups()[2]))

join: 2018-3-20
mat : 2018-3-20
2018-03-20 00:00:00

In [58]:
value = '2018늰3ㅇㅁㅇ03ㅅㅁㅅ'
print(datetime.strptime(value, '%Y늰%mㅇㅁㅇ%dㅅㅁㅅ'))
datetime.strptime(value, '%Y늰%mㅇㅁㅇ%dㅅㅁㅅ')

2018-03-03 00:00:00

datetime.datetime(2018, 3, 3, 0, 0)

In [9]:
import pandas as pd

In [23]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [24]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [11]:
import numpy as np

In [30]:
print(*datestrs)

2011-07-06 12:00:00 2011-08-06 00:00:00

In [34]:
map(str2date_all, datestrs)

In [35]:
[str2date_all(x) for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

#### 여기까지 parse 실험

#### None 넣으면 NaT 로 표시됨- pd.isnull()로 체크하고
Not a Time

In [22]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [23]:
idx[2]

NaT

In [24]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)

## Time Series Basics

### ts
index가 시간인 방금만든 Series 객체

In [28]:
from datetime import datetime
import numpy as np

In [30]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print(type(ts))
ts

<class 'pandas.core.series.Series'>

2011-01-02    2.043404
2011-01-05    0.693439
2011-01-07   -0.364868
2011-01-08    0.022009
2011-01-10    0.012359
2011-01-12   -2.481633
dtype: float64

In [ ]:
ts.index

In [ ]:
ts[::2]

In [ ]:
ts + ts[::2]

In [ ]:
ts.index.dtype

In [ ]:
stamp = ts.index[0]
stamp

### Indexing, Selection, Subsetting

In [ ]:
stamp = ts.index[2]
ts[stamp]

In [ ]:
ts['1/10/2011']
ts['20110110']

In [ ]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))
longer_ts
longer_ts['2001']

In [ ]:
longer_ts['2001-05']

In [ ]:
ts[datetime(2011, 1, 7):]

In [ ]:
ts
ts['1/6/2011':'1/11/2011']

In [ ]:
ts.truncate(after='1/9/2011')

In [ ]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])
long_df.loc['5-2001']

### Time Series with Duplicate Indices

In [ ]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

In [ ]:
dup_ts.index.is_unique

In [ ]:
dup_ts['1/3/2000']  # not duplicated
dup_ts['1/2/2000']  # duplicated

### index를 groupby로 묶을 때

In [ ]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

In [ ]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
    np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

In [ ]:
df.loc[('baz', 'two'):('qux', 'one')]

## Date Ranges, Frequencies, and Shifting

In [ ]:
ts
resampler = ts.resample('D')

### Generating Date Ranges

In [ ]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

In [ ]:
pd.date_range(start='2012-04-01', periods=20)
pd.date_range(end='2012-06-01', periods=20)

In [ ]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

In [ ]:
pd.date_range('2012-05-02 12:56:31', periods=5)

In [ ]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

### Frequencies and Date Offsets

In [ ]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [ ]:
four_hours = Hour(4)
four_hours

In [ ]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

In [ ]:
Hour(2) + Minute(30)

In [ ]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

#### Week of month dates

In [ ]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

### Shifting (Leading and Lagging) Data
### 시프트
p409

In [40]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -2.007293
2000-02-29   -0.226869
2000-03-31    0.403950
2000-04-30   -0.061492
Freq: M, dtype: float64

In [41]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -2.007293
2000-04-30   -0.226869
Freq: M, dtype: float64

In [42]:
ts.shift(-2)

2000-01-31    0.403950
2000-02-29   -0.061492
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

ts / ts.shift(1) - 1

In [43]:
ts.shift(2, freq='M')

2000-03-31   -2.007293
2000-04-30   -0.226869
2000-05-31    0.403950
2000-06-30   -0.061492
Freq: M, dtype: float64

In [44]:
ts.shift(3, freq='D')

2000-02-03   -2.007293
2000-03-03   -0.226869
2000-04-03    0.403950
2000-05-03   -0.061492
dtype: float64

In [45]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -2.007293
2000-02-29 01:30:00   -0.226869
2000-03-31 01:30:00    0.403950
2000-04-30 01:30:00   -0.061492
Freq: M, dtype: float64

#### Shifting dates with offsets

In [49]:
from pandas.tseries.offsets import Day, MonthEnd
from datetime import datetime

In [51]:
now = datetime(2018, 3, 21)
now + 3 * Day()

Timestamp('2018-03-24 00:00:00')

In [61]:
MonthEnd?

In [60]:
now + MonthEnd()

Timestamp('2018-03-31 00:00:00')

In [62]:
now + MonthEnd(1) #default n=1

Timestamp('2018-03-31 00:00:00')

In [56]:
now + MonthEnd(2)

Timestamp('2018-04-30 00:00:00')

In [63]:
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2018-03-31 00:00:00')

In [66]:
#now의 이전 달 월 말
offset.rollback(now)

Timestamp('2018-02-28 00:00:00')

#### 4일 단위로 나뉘어진 시계열 데이터

In [67]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts

2000-01-15   -1.112155
2000-01-19   -0.068107
2000-01-23    1.657768
2000-01-27    1.754333
2000-01-31    1.027386
2000-02-04   -0.275097
2000-02-08    0.911580
2000-02-12   -1.096129
2000-02-16   -0.260118
2000-02-20   -0.083228
2000-02-24    1.334334
2000-02-28   -0.750124
2000-03-03    0.265037
2000-03-07   -1.303319
2000-03-11    0.631642
2000-03-15   -0.037383
2000-03-19    0.436215
2000-03-23    0.142933
2000-03-27    0.100603
2000-03-31    2.633856
Freq: 4D, dtype: float64

In [70]:
# 이전달로 하면 이상해짐 ts.groupby(offset.rollback).mean()

1999-12-31    0.557960
2000-01-31    0.101075
2000-02-29    0.033676
2000-03-31    2.633856
dtype: float64

##### '월 말'기준 월 단위로 묶고, 각 값들을 평균냄

In [68]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.651845
2000-02-29   -0.031255
2000-03-31    0.358698
dtype: float64

In [69]:
ts.resample('M').mean()

2000-01-31    0.651845
2000-02-29   -0.031255
2000-03-31    0.358698
Freq: M, dtype: float64

## Time Zone Handling
p412. 패스함

In [ ]:
import pytz
pytz.common_timezones[-5:]

In [ ]:
tz = pytz.timezone('America/New_York')
tz

### Time Zone Localization and Conversion

In [ ]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

In [ ]:
print(ts.index.tz)

In [ ]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

In [ ]:
ts
ts_utc = ts.tz_localize('UTC')
ts_utc
ts_utc.index

In [ ]:
ts_utc.tz_convert('America/New_York')

In [ ]:
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('UTC')
ts_eastern.tz_convert('Europe/Berlin')

In [ ]:
ts.index.tz_localize('Asia/Shanghai')

### Operations with Time Zone−Aware Timestamp Objects

In [ ]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')

In [ ]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

In [ ]:
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

In [ ]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp
stamp + Hour()

In [ ]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + 2 * Hour()

### Operations Between Different Time Zones

In [ ]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

## Periods and Period Arithmetic
p417. '기간'

In [71]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [73]:
p + 5

Period('2012', 'A-DEC')

In [74]:
p - 2

Period('2005', 'A-DEC')

##### 주기가 같다면, 차이값을 구할 수 있음

In [75]:
pd.Period('2014', freq='A-DEC') - p

7

In [76]:
# pd.Period('2014', freq='M') - p

IncompatibleFrequency: Input has different freq=A-DEC from Period(freq=M)

In [ ]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')
rng

In [ ]:
pd.Series(np.random.randn(6), index=rng)

In [ ]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

### Period Frequency Conversion

In [ ]:
p = pd.Period('2007', freq='A-DEC')
p
p.asfreq('M', how='start')
p.asfreq('M', how='end')

In [ ]:
p = pd.Period('2007', freq='A-JUN')
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')

In [ ]:
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')

In [ ]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.asfreq('M', how='start')

In [ ]:
ts.asfreq('B', how='end')

### Quarterly Period Frequencies

In [ ]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

In [ ]:
p.asfreq('D', 'start')
p.asfreq('D', 'end')

In [ ]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

In [ ]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

### Converting Timestamps to Periods (and Back)

In [ ]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts
pts = ts.to_period()
pts

In [ ]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2
ts2.to_period('M')

In [ ]:
pts = ts2.to_period()
pts
pts.to_timestamp(how='end')

### Creating a PeriodIndex from Arrays

In [ ]:
data = pd.read_csv('examples/macrodata.csv')
data.head(5)
data.year
data.quarter

In [ ]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter,
                       freq='Q-DEC')
index
data.index = index
data.infl

## Resampling and Frequency Conversion

In [ ]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts
ts.resample('M').mean()
ts.resample('M', kind='period').mean()

### Downsampling

In [ ]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')
ts = pd.Series(np.arange(12), index=rng)
ts

In [ ]:
ts.resample('5min', closed='right').sum()

In [ ]:
ts.resample('5min', closed='right').sum()

In [ ]:
ts.resample('5min', closed='right', label='right').sum()

In [ ]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

#### Open-High-Low-Close (OHLC) resampling

In [ ]:
ts.resample('5min').ohlc()

### Upsampling and Interpolation

In [ ]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         freq='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame

In [ ]:
df_daily = frame.resample('D').asfreq()
df_daily

In [ ]:
frame.resample('D').ffill()

In [ ]:
frame.resample('D').ffill(limit=2)

In [ ]:
frame.resample('W-THU').ffill()

### Resampling with Periods

In [ ]:
frame = pd.DataFrame(np.random.randn(24, 4),
                     index=pd.period_range('1-2000', '12-2001',
                                           freq='M'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])
frame[:5]
annual_frame = frame.resample('A-DEC').mean()
annual_frame

In [ ]:
# Q-DEC: Quarterly, year ending in December
annual_frame.resample('Q-DEC').ffill()
annual_frame.resample('Q-DEC', convention='end').ffill()

In [ ]:
annual_frame.resample('Q-MAR').ffill()

## Moving Window Functions

In [ ]:
close_px_all = pd.read_csv('examples/stock_px_2.csv',
                           parse_dates=True, index_col=0)
close_px = close_px_all[['AAPL', 'MSFT', 'XOM']]
close_px = close_px.resample('B').ffill()

In [ ]:
close_px.AAPL.plot()
close_px.AAPL.rolling(250).mean().plot()

In [ ]:
plt.figure()

In [ ]:
appl_std250 = close_px.AAPL.rolling(250, min_periods=10).std()
appl_std250[5:12]
appl_std250.plot()

In [ ]:
expanding_mean = appl_std250.expanding().mean()

In [ ]:
plt.figure()

In [ ]:
close_px.rolling(60).mean().plot(logy=True)

In [ ]:
close_px.rolling('20D').mean()

### Exponentially Weighted Functions

In [ ]:
plt.figure()

In [ ]:
aapl_px = close_px.AAPL['2006':'2007']
ma60 = aapl_px.rolling(30, min_periods=20).mean()
ewma60 = aapl_px.ewm(span=30).mean()
ma60.plot(style='k--', label='Simple MA')
ewma60.plot(style='k-', label='EW MA')
plt.legend()

### Binary Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
spx_px = close_px_all['SPX']
spx_rets = spx_px.pct_change()
returns = close_px.pct_change()

In [ ]:
corr = returns.AAPL.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

In [ ]:
plt.figure()

In [ ]:
corr = returns.rolling(125, min_periods=100).corr(spx_rets)
corr.plot()

### User-Defined Moving Window Functions

In [ ]:
plt.figure()

In [ ]:
from scipy.stats import percentileofscore
score_at_2percent = lambda x: percentileofscore(x, 0.02)
result = returns.AAPL.rolling(250).apply(score_at_2percent)
result.plot()

In [ ]:
pd.options.display.max_rows = PREVIOUS_MAX_ROWS