# 계층적 색인 예제
부러 Error나라고 만든 예제도 있으니 너무 안 된다 싶으면 링크 참조!

https://goo.gl/LepW3h

In [4]:
import numpy as np
import pandas as pd

In [13]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [14]:
arrays = [['bar', 'baz','foo', 'qux'],
           ['one', 'three', 'two', 'four']]

In [15]:
# arrays = [['bar', 'baz','foo', 'qux'],
#            ['one', 'three', 'two', 'four'],
#            ['one', 'three', 'two', 'four']]

In [16]:
dict(zip(*arrays))

{'bar': 'one', 'baz': 'three', 'foo': 'two', 'qux': 'four'}

### pd.MultiIndex.튜플로만들

In [18]:
pd.MultiIndex?

(levels=None, labels=None, sortorder=None, names=None, copy=False, verify_integrity=True
 , _set_identity=True, name=None, **kwargs)

#### names: 계층 인덱스 이름
#### tuples: 계층 인덱스 내용

#### levels: 각 index range. 수준
#### labels: 각 index number. 라벨

In [17]:
index = pd.MultiIndex.from_tuples(tuples=tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [18]:
s = pd.Series(np.random.randn(8), index=index)
s

first  second
bar    one       0.633517
       two       0.199881
baz    one      -0.972950
       two       0.473571
foo    one      -0.832629
       two       0.520085
qux    one      -1.042000
       two       0.928268
dtype: float64

이건 왜만듦?

In [19]:
iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

#####

In [20]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -0.383238
     two    0.090437
baz  one   -0.135475
     two   -0.116750
foo  one   -0.695179
     two    0.159902
qux  one    0.646260
     two    0.281137
dtype: float64

In [21]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one  0.821604 -2.006432 -1.395632  1.801302
    two  1.494951  1.910054  0.552477  1.223227
baz one -0.450396 -2.282356  1.189095  0.470427
    two -0.426869 -0.060984  1.577227  0.851061
foo one -0.257503  1.394763 -0.361583 -0.348712
    two  1.686244  0.932655  0.396984 -0.957404
qux one  1.811093 -1.445879  0.220829 -0.356217
    two -0.874244 -0.894239 -0.559754 -0.246153

In [22]:
df.index.names
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A       0.133450 -0.733806  0.523295 -1.064794  0.575325  1.193915  1.136939
B      -0.035625  0.763825  1.802054  0.153954 -1.919635 -0.546529 -1.201400
C      -1.363663  0.305247 -0.550616 -1.470743  1.544645  0.215709 -1.475028

first
second       two
A       0.660949
B      -1.529160
C      -0.950597

In [ ]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])
pd.Series(np.random.randn(8), index=tuples)
pd.set_option('display.multi_sparse', False)
df
pd.set_option('display.multi_sparse', True)
index.get_level_values(0)
index.get_level_values('second')
df['bar']
df['bar', 'one']
df['bar']['one']
s['qux']
df.columns
df[['foo','qux']].columns
df[['foo','qux']].columns.values
df[['foo','qux']].columns.get_level_values(0)
df[['foo','qux']].columns.remove_unused_levels()
s + s[:-2]
s + s[::2]
s.reindex(index[:3])
s.reindex([('foo', 'two'), ('bar', 'one'), ('qux', 'one'), ('baz', 'one')])
df = df.T
df
df.loc['bar']
df.loc['bar', 'two']
df.loc['baz':'foo']
df.loc[('baz', 'two'):('qux', 'one')]
df.loc[('baz', 'two'):'foo']
df.loc[[('bar', 'two'), ('qux', 'one')]]
def mklbl(prefix,n):
    return ["%s%s" % (prefix,i)  for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl('A',4),
                                      mklbl('B',2),
                                      mklbl('C',4),
                                      mklbl('D',2)])
micolumns = pd.MultiIndex.from_tuples([('a','foo'),('a','bar'),
                                       ('b','foo'),('b','bah')],
                                      names=['lvl0', 'lvl1'])
dfmi = pd.DataFrame(np.arange(len(miindex)*len(micolumns)).reshape((len(miindex),len(micolumns))),
                    index=miindex,
                    columns=micolumns).sort_index().sort_index(axis=1)
dfmi
dfmi.loc[(slice('A1','A3'), slice(None), ['C1', 'C3']), :]
idx = pd.IndexSlice
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]
dfmi.loc['A1', (slice(None), 'foo')]
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]
mask = dfmi[('a', 'foo')] > 200
dfmi.loc[idx[mask, :, ['C1', 'C3']], idx[:, 'foo']]
dfmi.loc(axis=0)[:, :, ['C1', 'C3']]
df2 = dfmi.copy()
df2.loc(axis=0)[:, :, ['C1', 'C3']] = -10
df2
df2 = dfmi.copy()
df2.loc[idx[:, :, ['C1', 'C3']], :] = df2 * 1000
df2
df
df.xs('one', level='second')
df.loc[(slice(None),'one'),:]
df = df.T
df.xs('one', level='second', axis=1)
df.loc[:,(slice(None),'one')]
df.xs(('one', 'bar'), level=('second', 'first'), axis=1)
df.loc[:,('bar','one')]
df.xs('one', level='second', axis=1, drop_level=False)
df.xs('one', level='second', axis=1, drop_level=True)
midx = pd.MultiIndex(levels=[['zero', 'one'], ['x','y']],
                      labels=[[1,1,0,0],[1,0,1,0]])
df = pd.DataFrame(np.random.randn(4,2), index=midx)
df
df2 = df.mean(level=0)
df2
df2.reindex(df.index, level=0)
df_aligned, df2_aligned = df.align(df2, level=0)
df_aligned
df2_aligned
df[:5]
df[:5].swaplevel(0, 1, axis=0)
df[:5].reorder_levels([1,0], axis=0)
import random; random.shuffle(tuples)
s = pd.Series(np.random.randn(8), index=pd.MultiIndex.from_tuples(tuples))
s
s.sort_index()
s.sort_index(level=0)
s.sort_index(level=1)
s.index.set_names(['L1', 'L2'], inplace=True)
s.sort_index(level='L1')
s.sort_index(level='L2')
df.T.sort_index(level=1, axis=1)
dfm = pd.DataFrame({'jim': [0, 0, 1, 1],
                     'joe': ['x', 'x', 'z', 'y'],
                     'jolie': np.random.rand(4)})
dfm = dfm.set_index(['jim', 'joe'])
dfm
dfm.loc[(1, 'z')]
# dfm.loc[(0,'y'):(1, 'z')]
dfm.index.is_lexsorted()
dfm.index.lexsort_depth
dfm = dfm.sort_index()
dfm
dfm.index.is_lexsorted()
dfm.index.lexsort_depth
dfm.loc[(0,'y'):(1, 'z')]
index = pd.Index(np.random.randint(0, 1000, 10))
index
positions = [0, 9, 3]
index[positions]
index.take(positions)
ser = pd.Series(np.random.randn(10))
ser.iloc[positions]
ser.take(positions)
frm = pd.DataFrame(np.random.randn(5, 3))
frm.take([1, 4, 3])
frm.take([0, 2], axis=1)
arr = np.random.randn(10)
arr.take([False, False, True, True])
arr[[0, 1]]
ser = pd.Series(np.random.randn(10))
ser.take([False, False, True, True])
ser.iloc[[0, 1]]
from pandas.api.types import CategoricalDtype
df = pd.DataFrame({'A': np.arange(6),
                    'B': list('aabbca')})
# df['B'] = df['B'].astype(CategoricalDtype(list('cab')))
df
df.dtypes
# df.B.cat.categories
df2 = df.set_index('B')
df2.index
df2.loc['a']
df2.loc['a'].index
df2.sort_index()
df2.groupby(level=0).sum()
df2.groupby(level=0).sum().index
# df2.reindex(['a','e'])
# df2.reindex(['a','e']).index
# df2.reindex(pd.Categorical(['a','e'],categories=list('abcde')))
# df2.reindex(pd.Categorical(['a','e'],categories=list('abcde'))).index
df3 = pd.DataFrame({'A' : np.arange(6),
                    'B' : pd.Series(list('aabbca')).astype('category')})
df3 = df3.set_index('B')
df3.index
pd.concat([df2, df3])
indexf = pd.Index([1.5, 2, 3, 4.5, 5])
indexf
sf = pd.Series(range(5), index=indexf)
sf
sf[3]
sf[3.0]
sf.loc[3]
sf.loc[3.0]
sf.iloc[3]
sf[2:4]
sf.loc[2:4]
sf.iloc[2:4]
sf[2.1:4.6]
sf.loc[2.1:4.6]
# pd.Series(range(5))[3.5]
# pd.Series(range(5))[3.5:4.5]
# pd.Series(range(5)).iloc[3.0]
dfir = pd.concat([pd.DataFrame(np.random.randn(5,2),
                                index=np.arange(5) * 250.0,
                                columns=list('AB')),
                   pd.DataFrame(np.random.randn(6,2),
                                index=np.arange(4,10) * 250.1,
                                columns=list('AB'))])
dfir
dfir[0:1000.4]
dfir.loc[0:1001,'A']
dfir.loc[1000.4]
dfir[0:1000]
dfir.iloc[0:5]
df = pd.DataFrame({'A': [1, 2, 3, 4]},
                    index=pd.IntervalIndex.from_breaks([0, 1, 2, 3, 4]))
df
df.loc[2]
df.loc[[2, 3]]
df.loc[2.5]
df.loc[[2.5, 3.5]]
c = pd.cut(range(4), bins=2)
c
c.categories
pd.cut([0, 3, 5, 1], bins=c.categories)
df = pd.DataFrame(index=[2,3,3,4,5], columns=['data'], data=list(range(5)))
df.index.is_monotonic_increasing
# df.loc[0:4, :]
df.loc[13:15, :]
df = pd.DataFrame(index=[2,3,1,4,3,5], columns=['data'], data=list(range(6)))
df.index.is_monotonic_increasing
df.loc[2:4, :]
df3 = pd.DataFrame({'A' : np.arange(6),
                            'B' : pd.Series(list('aabbca')).astype('category')})
# df.loc[2:3, :]
weakly_monotonic = pd.Index(['a', 'b', 'c', 'c'])
weakly_monotonic
weakly_monotonic.is_monotonic_increasing
weakly_monotonic.is_monotonic_increasing & weakly_monotonic.is_unique
s = pd.Series(np.random.randn(6), index=list('abcdef'))
s
s[2:5]
s.loc['c':'e']
series1 = pd.Series([1, 2, 3])
series1.dtype
res = series1.reindex([0, 4])
res.dtype
res
series2 = pd.Series([True])
series2.dtype
res = series2.reindex_like(series1)
res.dtype
res