#### 2-3 리스트 자료형

##### 리스트 인덱싱

In [8]:
odd1= range(1,10,2)
[i for i in odd1]

[1, 3, 5, 7, 9]

In [10]:
odd= [1,3,5,7,9]; odd

[1, 3, 5, 7, 9]

In [27]:
a= []
b= [1,2,3,4,5]
c= ['Life','is','too','hot']
d= [1,2,'왜자꾸','예제가']
c= [1,2,['목숨','타령이지']]

In [28]:
b

[1, 2, 3, 4, 5]

In [33]:
b[0]
print(b[0]| b[3]) # 001 OR 100 = 101
print(b[0]+ b[2]) # 1+3= 4
print(b[0]^ b[4]) # 001 XOR 101 = 100

5
4
4

In [34]:
b[-1]

5

In [42]:
a= [1,2,3,['a','b','c']]
a[0]
a[-1][1]
a[3][0]

'a'

In [48]:
a= [1,2,['a','b',['life','is','egg']]]
print(a[2])
print(a[2][2])
print(a[2][2][-1])

['a', 'b', ['life', 'is', 'egg']]
['life', 'is', 'egg']
egg

##### 리스트 슬라이싱

In [53]:
a= "12345"
print(a[0:2])

a=[1,2,3,4,5]
print(a[0:2])

12
[1, 2]

In [58]:
b= a[:2]; b # 0부터 1포함까지
c= a[2:]; c # 2부터 끝까지

[3, 4, 5]

In [60]:
a= [1,2,3,['a','b','c'],4,5]
a[2:5]
a[3][:2]

['a', 'b']

##### 리스트 연산자

In [61]:
a= [1,2,3]; b= [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [62]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
# a[2]+ 'hi' #unsupported operand type(s) for +: 'int' and 'str'
# str(a[2]+ 'hi') #unsupported operand type(s) for +: 'int' and 'str'
str(a[2])+'hi'

'3hi'

##### 슬라이싱은 원본이 바뀐다!

In [2]:
a= [1,2,3]; a
a[2]= 4; a

[1, 2, 4]

In [4]:
# 실행시마다 계속 적용됨
a[1:2]
a[1:2]= ['a','b','c']; print(a)
a[1]= ['a','b','c']; print(a)

[1, 'a', 'b', 'c', 'b', 'c', 4]
[1, ['a', 'b', 'c'], 'b', 'c', 'b', 'c', 4]

In [5]:
a[1:6]= []; a

[1, 4]

In [6]:
del a[1]

In [7]:
a

[1]

##### 리스트:요소추가, 정렬, 뒤집기, 삽입, 제거 등등

In [8]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [9]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [14]:
a= [1,4,3,2]
a.append([1,2])
a

[1, 4, 3, 2, [1, 2]]

In [15]:
# '<' not supported between instances of 'list' and 'int'
# a.sort() # list속 list 는 정렬이 안 된다. < 비교로 정렬하는 거라
# a #[1, 4, 3, 2, [1, 2]]

TypeError: '<' not supported between instances of 'list' and 'int'

In [16]:
a= [1,4,3,2]
a.sort(); a

[1, 2, 3, 4]

In [17]:
a= ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [2]:
a= ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [4]:
a= [3,2,1]
a.index(3)
a.index(1)

2

In [7]:
#index는 없으면 error!
#a.index(0)

In [18]:
a= [1,2,3]
a.insert(0,4)
a.insert(2,[1,2])

In [36]:
a

[4, 1]

In [29]:
a.insert(1,5)

In [34]:
# index 0부터 해당값을 찾아 나온 첫번째 것만 삭제
a.remove(3); a

[4, 1, [1, 2]]

In [16]:
a.remove([1,2]); a

[4, 1, 5, 3]

In [35]:
a.pop()

[1, 2]

In [37]:
a= [1,2,3]
a.pop(1); a

[1, 3]

##### 리스트 확장
list [ ]: 수정 가능

In [1]:
a= [1,2,3,1]
a.count(1)

2

In [2]:
a= []
a.extend([4,5])

In [5]:
# b= 6 # error!
b= [6,7,8]
a.extend(b)
a

[4, 5, 6, 7, 8]

In [6]:
a+= [9,10]; print(a)
a= a+[11,12]; print(a)

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10, 11, 12]

In [9]:
# a-= [6,7]  # error!

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

#### 2-4 튜플
tuple ( ): 수정 불가. 상수스러운걸 원할 때. 근데 추가는 잘 된다?

In [7]:
t1= ()
t1+= (3,4)
t1

(3, 4)

In [8]:
#t1.pop() # error!- 이런거 없대

AttributeError: 'tuple' object has no attribute 'pop'

In [10]:
t1+= (5,6); t1

(3, 4, 5, 6)

In [11]:
#t1.extend((7,8)) # error! -  이런거 없음

AttributeError: 'tuple' object has no attribute 'extend'

##### 괄호 있거나 없거나 있는걸로 ㅇㅇ 튜플.

In [8]:
t1= 1,2,3; t1

(1, 2, 3)

In [2]:
t5= ('a', 'b',('ab','cd')); t5

('a', 'b', ('ab', 'cd'))

###### list에 tuple 넣기 가능. 그 결과도 list

In [9]:
l1= [1,2,3]; l1

[1, 2, 3]

In [10]:
l1.append(t1); l1

[1, 2, 3, (1, 2, 3)]

In [11]:
type(l1)

list

In [13]:
t1= 1,2,3; t1

(1, 2, 3)

In [15]:
#튜플 요소 삭제 불가
#del t1[0] #TypeError: 'tuple' object doesn't support item deletion

TypeError: 'tuple' object doesn't support item deletion

In [16]:
#튜플 요소 수정 불가
# t1[0]= 'c' #TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [19]:
t1= 1,2,'a','b'; print(t1)

(1, 2, 'a', 'b')

In [22]:
print(t1[0])
t1[-1]

1

'b'

In [23]:
t1[1:]

(2, 'a', 'b')

In [24]:
t2= 3,4
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [25]:
t2* 3

(3, 4, 3, 4, 3, 4)

###### 잠시 딴거. output 여러 함수들 @python
https://docs.python.org/3/tutorial/inputoutput.html

In [15]:
# 5+'oh'
repr(5)+'oh'
repr(5).zfill(5)+'oh'

'00005oh'

In [19]:
repr(5).zfill(3).rjust(5)

'  005'

### 2-5 딕셔너리
key:value. {baseball:'야구', ...}

1. key: 변하지 않는값
2. value: 변하(/지않)는 값 둘다 사용 가능

In [27]:
dic= {'name':'pey', 'phone':'01199993333', 'birth':'1118'}; dic

{'birth': '1118', 'name': 'pey', 'phone': '01199993333'}

In [28]:
d1= {1:'hi'}; d1

{1: 'hi'}

In [31]:
d2= {'a':[1,2,3]}; d2

{'a': [1, 2, 3]}

###### dic1[키]= 값 으로 추가/ 수정

In [10]:
# a= {1:'a'}; print(a)
a={}  # 새로 생성
a[2]= 'b'; print(a)
a[0]= 'c'; print(a)
a['그냥']='just'; print(a)
a['그냥']='just'; print(a) #같은 키값으로 2번 넣으면 수정됨. 중복 X
a[1]= 'aaa'; print(a) #수정

{2: 'b'}
{2: 'b', 0: 'c'}
{2: 'b', 0: 'c', '그냥': 'just'}
{2: 'b', 0: 'c', '그냥': 'just'}
{2: 'b', 0: 'c', '그냥': 'just', 1: 'aaa'}

In [3]:
d1= {}
d1['name']= 'pey'; d1

{'name': 'pey'}

In [4]:
d1['튜플되니']= (1,2,3); d1
d1['리스트되니']= ['a','b','c']; d1
d1['ㄱㄴㄷ']= ['순','sort되네']; d1
d1['ㄴㄷㄱ']= ['순','sort되네22']; d1
d1['ㅁㅂ']= ['순','sort되네33']; d1
d1['마바']= ['순','sort되네44']; d1
d1['ㅐㅐㅔㅔ']= ['순','sort되네55']; d1

{'name': 'pey',
 'ㄱㄴㄷ': ['순', 'sort되네'],
 'ㄴㄷㄱ': ['순', 'sort되네22'],
 'ㅁㅂ': ['순', 'sort되네33'],
 'ㅐㅐㅔㅔ': ['순', 'sort되네55'],
 '리스트되니': ['a', 'b', 'c'],
 '마바': ['순', 'sort되네44'],
 '튜플되니': (1, 2, 3)}

###### del 딕[키]
[ ] 안에 들어가는게 인덱스가 아니다!

In [5]:
# len(d1) #8
# del d1[len(d1)-1]
del d1['ㄱㄴㄷ']

In [6]:
d1

{'name': 'pey',
 'ㄴㄷㄱ': ['순', 'sort되네22'],
 'ㅁㅂ': ['순', 'sort되네33'],
 'ㅐㅐㅔㅔ': ['순', 'sort되네55'],
 '리스트되니': ['a', 'b', 'c'],
 '마바': ['순', 'sort되네44'],
 '튜플되니': (1, 2, 3)}

###### only 딕[키]
슬라이싱? 인덱스? ㄴㄴ - 다른 방법은 없다!

In [7]:
d1['ㄴㄷㄱ']

['순', 'sort되네22']

In [8]:
d1['튜플되니']

(1, 2, 3)

In [51]:
# %timeit [key for key in d1.keys()]

452 ns ± 8.15 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [54]:
# %timeit for key in d1.keys():     print(key)

In [9]:
d1_keys= [key for key in d1.keys()]; d1_keys

['name', '튜플되니', '리스트되니', 'ㄴㄷㄱ', 'ㅁㅂ', '마바', 'ㅐㅐㅔㅔ']

In [1]:
#import turtle as t # 툭하면 커널 날라가는 그런 패키지 ;;

In [16]:
for key in d1.keys():
    print("{0:9}".format(key), end="\t")
    print(d1[key])

name     	pey
튜플되니     	(1, 2, 3)
리스트되니    	['a', 'b', 'c']
ㄴㄷㄱ      	['순', 'sort되네22']
ㅁㅂ       	['순', 'sort되네33']
마바       	['순', 'sort되네44']
ㅐㅐㅔㅔ     	['순', 'sort되네55']