#### tkinter_GUI
근데 창 끌때까지 다른거 실행못함

In [117]:
from tkinter import *
#wxPython, PyQT, PyGTK 등등

In [118]:
root= Tk()

lbl= Label(root, text="tkinter")
lbl.pack()

txt= Entry(root)
txt.pack()

btn= Button(root, text="GUI OK")
btn.pack()

In [119]:
# root.mainloop()

In [120]:
1+2
3/2.4
3*9

27

In [121]:
a=1; b=2; a+b
p= "python"
print(p)

python

In [122]:
a= 2+3j; b=3; a*b

(6+9j)

#### if, function

In [123]:
def larger(a):
    if a>1:
        print("%3s가 1보다 큼"%a)
    else:
        print("%3s가 1보다 작거나같음"%a)

In [124]:
#larger(a) 복소수 비교는 원래 안 됨
larger(b)
larger(2)
larger(1)

  3가 1보다 큼
  2가 1보다 큼
  1가 1보다 작거나같음

In [125]:
for a in [1,2,3]:
    print(a)

1
2
3

In [126]:
for a in range(1,5,2):
    print(a)

1
3

#### list comprehenssion, while
[표현식 for 요소 in 입력시퀀스 if 조건식]

In [127]:
[i for i in range(1,15,2)]
# [i-1 for i in range(1,15,2)]

[1, 3, 5, 7, 9, 11, 13]

In [128]:
[i for i in range(1,15,2) if i>5]

[7, 9, 11, 13]

In [129]:
id_name= {1:'박진수', 2:'이형택', 3:'김선달'}
name_id= {val:key for key,val in id_name.items()}
name_id

{'김선달': 3, '박진수': 1, '이형택': 2}

In [130]:
[i+1 for i in range(0,4) if i<3]

[1, 2, 3]

In [131]:
i= 0
while i<3:
    i+=1
    print(i)

1
2
3

#### function

In [132]:
def sum(a,b):
    return a+b

In [133]:
print(sum(0o10,0x10))

24

#### type: num

In [134]:
a= 1+2j
a.real
a.imag #허수부 계수
a.conjugate() #켤레
abs(a) #절댓값. math.sqrt(1**2+ 2**2)

2.23606797749979

In [135]:
import math
# math.sqrt(1^2+1^2) # ^ : bit용 OR
math.sqrt(1**2+ 2**2)

2.23606797749979

In [136]:
a=10; b=6
a+b
a*b
a/b
a**b
a%b

4

In [137]:
a/b

1.6666666666666667

In [138]:
a//b #나눗셈 후 소수이하 버림

1

#### type: str

In [139]:
"Hello world"
"Hello 'python is fun' world"
'amazing"hello\'python is fun\' world" can' # ' " '' " ' 는 안되네. \ 도 애매하게 먹히고

'amazing"hello\'python is fun\' world" can'

In [140]:
"\"python is very fast.\" he said"

'"python is very fast." he said'

In [141]:
"""
python
    is
        amazing
        "world"
"""

'\npython\n    is\n        amazing\n        "world"\n'

In [142]:
kms= '''
I didn't know
    this
'''
kms

"\nI didn't know\n    this\n"

In [143]:
'i didn\'t know\n this, either'

"i didn't know\n this, either"

In [144]:
'what happed\rthis. nothing'
'what happed\bthis. sth' #backspace 가 되진 않고, \x08 삽입
'\000' #null? ㄴㄴ \x00

'\x00'

In [145]:
# ["\a" for i in range(1,10)]
for i in range(1,10): # ??? 소리나길 기대했는데, 무반응
    print("\a")
# jupyter notebook이라 그런가? console로 실행시키면 소리나나?











#### str

In [146]:
head= "head"
first= "first is good"
head+first

'headfirst is good'

In [147]:
first*2

'first is goodfirst is good'

In [148]:
print('='*30)
print('hello world')
print('='*30)

==============================
hello world
==============================

In [149]:
a= "life is short, you need python"
a[3]
a[4]
a[0:6] #이상~미만 0~ 5포함
a[-1]
a[-3:-1] #이상~미만 -3 ~ -2 포함

'ho'

In [150]:
a[-1]
a[0]
a[-0]

'l'

In [151]:
a[:-4]

'life is short, you need py'

In [152]:
a[1:3]+a[3:] # 1이상 3미만, 3이상~ 끝까지

'ife is short, you need python'

In [153]:
a[:]

'life is short, you need python'

In [154]:
a[19:-7]

'need'

In [155]:
b= "Pithon"
b

'Pithon'

#### error!
문자열은 '상수'라 바꿀 수 없다

In [156]:
# Pithon -> Python
# b[1]= "y"
# b

In [157]:
b2= b[0]+'y'+b[2:]
b2

'Python'

#### str:format

In [158]:
"i eat %s "%b2

'i eat Python '

In [159]:
"i eat %d apples" %3

'i eat 3 apples'

In [160]:
#2개 이상 변수: %(변1, 변2)
number= 10
day= "three"
"I ate %d apples. why s%c serious %s meter in u r depth? %%_%%" % (number,'o', day)

'I ate 10 apples. why so serious three meter in u r depth? %_%'

In [161]:
'i have %s apples' %3
"time is %s" %3.141592

'time is 3.141592'

In [162]:
"100% 단맛"
# "%d% 단맛" %100 #error !
"%d%% 단맛" %100

'100% 단맛'

In [163]:
print("%10s단맛" %"hi")
print("%-10s단맛" %"hi")

        hi단맛
hi        단맛

In [164]:
#소수이하 5자리에서 반올림. 4자리까지만 출력
print("%.4f완벽함" %3.14159265358979) # == %0.4f
print("%10.4f완벽함" %3.14159265358979)

3.1416완벽함
    3.1416완벽함

#### str:function

In [165]:
a= "hobbbby"
print(a.count('b'))
print('b' in a)
print(a.find('b')) # b가 처음나온 위치
print(a.find('k')) # 없으면 -1 반환

4
True
2
-1

In [166]:
a= "Life is too hot"
print(a.index('t')) # 't'가 처음나온 위치
print(a.find('t'))
print(a.index('k')) # 없으면 error

8
8

ValueError: substring not found

##### 문자 단위로 사이사이에 원하는 거 삽입
원하는거.join(대상문자열)

In [ ]:
j1= ","
j1.join(a)

##### 대소문자, 공백, 바꾸기, 쪼개기

In [ ]:
a= "hi"
b= a.upper(); b

In [ ]:
b.lower()

In [167]:
s1= "%10s  " %"w h y"; print(s1)
s2= "  %-10s" %"w h y"; print(s2)
print("평서문")

     w h y
  w h y
평서문

In [168]:
print(s1.lstrip())
print(s1) # 원본은 건드리지 X

w h y
     w h y

In [169]:
print("%s뭐가바뀌었냐면" %s2.rstrip())
print("%s원본은이거였지" %s2)

  w h y뭐가바뀌었냐면
  w h y     원본은이거였지

In [170]:
print("뭐가바%s뀌었냐면" %s2.strip())
print("이게%s원본" %s2)

뭐가바w h y뀌었냐면
이게  w h y     원본

In [174]:
a=" life is too short "; a
a.replace("life","coding life")

' coding life is too short '

In [195]:
a= " life is too shfort"
a_s= a.split(); print(a_s)
print(a_s[2])

a2= "rrrr-mm-dd hh:mm:ss"
print(a2.split(':'))
a2.replace('-',':').replace(' ',':').split(':')
# replace ret- str, split ret- list

['life', 'is', 'too', 'shfort']
too
['rrrr-mm-dd hh', 'mm', 'ss']

['rrrr', 'mm', 'dd', 'hh', 'mm', 'ss']

##### 고급 문자열 포맷팅

In [196]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [197]:
"I eat {0} apples".format("five")

'I eat five apples'

In [198]:
"I eat %s apples" %"five" # 뭔 차이지

'I eat five apples'

In [199]:
number= 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [206]:
number= 10; hour= "three"
print("I ate {0} apples. spend to {1} hours ".format(number, hour))
print("I ate {1} apples. spend to {0} hours ".format(number, hour))
# 올 ㅋ, 인자의 순서를 바꿔서 넣을 수 있음.

I ate 10 apples. spend to three hours
I ate three apples. spend to 10 hours

In [207]:
print("I atd %d apples. spend to %s hours" %(number, hour)) #뭔차이지
print("I atd %s apples. spend to %s hours" %(number, hour))

I atd 10 apples. spend to three hours
I atd 10 apples. spend to three hours

In [213]:
# number= 10; hours= "three"
"I ate {number2} apples. spend to {hour2} hours".format(number2=10, hour2= 3)
#변수가 미리 선언되지있지 않아도 명시가능. 원래 ㅇㅇ

'I ate 10 apples. spend to 3 hours'

In [214]:
"I ate {0} apples. spend to {hour3} hours".format(10, hour3= 3)

'I ate 10 apples. spend to 3 hours'

##### 문자열 정렬, 채우기, 소수점

In [216]:
s1= "%10s  " %"w h y"; print(s1)
s2= "  %-10s" %"w h y"; print(s2)
print("평서문")

     w h y
  w h y
평서문

In [221]:
print("{0:<10}".format("hi")) # 왼쪽 정렬
print("{0:>10}".format("hi")) # 오른쪽 정렬
print("{0:^10}".format("hi")) # 가운데 정렬

hi
        hi
    hi

In [1]:
"{0:=^10}".format("중심") # 글자를가운데정렬, 나머질 =로 채우기. 한글도 1칸으로 침
"{0:!<10}".format("왼쪽") # 글자를 왼쪽정렬, 나머질 ! 로 채우기
# "{0:~_~<10}".format("오른쪽")  # 채우기는 1글자만 됨
"{0:~>10}".format("오른쪽") # 글자를 오른쪽정렬, 나머질 ~로 채우기
# 공백 채우기는 정렬 < ^ >  기호랑 같이 써야 가능

'~~~~~~~오른쪽'

In [229]:
y= 3.1415926535
"{0:0.4f}".format(y)

'3.1416'

In [234]:
"{0:@>7.4f}".format(y)

'@3.1416'

In [235]:
"{{ and }}".format()  # { 는 2개 겹쳐써야 쓸 수 있음

'{ and }'