## 데분양성
수업. 2018.2.21.수~

### input()
임의값 입력하기. return이 str_문자열. 숫자 연산하려면 강제 형변환!

In [46]:
# in1= input("숫자하나 입력해봐: ")
# print(type(in1))

숫자하나 입력해봐: 34
<class 'str'>

##### 예제: 거스름돈 계산

In [47]:
def whatChng(price, pay):
    changes= int(pay)- int(price)
    if 0< changes:
        print("잔 돈: {0}".format(changes))
    elif 0> changes:
        print("돈 더내렴: {0}".format(-changes))
    else:
        print("딱 맞아")

In [49]:
# while 0< int(pay):
#     price= input("상품가: ")
#     pay= input("낸 돈: ")
#     whatChng(price, pay)

In [50]:
9//2
9%2

1

예제: 지폐로 교환할돈은?

In [61]:
money= input("지폐로 교환할 돈은 얼마? ")
int_money= int(money)
man5= int_money//50000
man1= (int_money%50000)//10000
cheon5= (int_money%10000)//5000
cheon1= (int_money%5000)//1000
changes= int_money%1000

print("5만원짜리: %4d장" % (man5))
print("1만원짜리: %4d장" % (man1))
print("5천원짜리: %4d장" % cheon5)
print("1천원짜리: %4d장" % cheon1)
print("지폐 미만: %4d원" % changes)

지폐로 교환할 돈은 얼마? 12345
5만원짜리:    0장
1만원짜리:    1장
5천원짜리:    0장
1천원짜리:    2장
지폐 미만:  345원

In [53]:
money= "50"
int1_money= int(money); print(int1_money)
int2_money= int(int1_money); print(int2_money)
print(money.find('-'))

50
50
-1

In [54]:
def changes_paper(input_money):
    money= int(input_money)
    man5= money//50000
    man1= (money%50000)//10000
    cheon5= (money%10000)//5000
    cheon1= (money%5000)//1000
    changes= money%1000
    
    print("5만원짜리: %4d장" % man5)
    print("1만원짜리: %4d장" % man1)
    print("5천원짜리: %4d장" % cheon5)
    print("1천원짜리: %4d장" % cheon1)
    print("지폐 미만: %4d원" % changes)

In [57]:
while 1==1:
    money= input("지폐로 교환할 돈은 얼마? ")
    if -1 != money.find('-'):
        break
    elif money.isnumeric():
        changes_paper(money)
    else:
        print("니네돈은 문자냐")

지폐로 교환할 돈은 얼마? 없엉
니네돈은 문자냐
지폐로 교환할 돈은 얼마? 37400
5만원짜리:    0장
1만원짜리:    3장
5천원짜리:    1장
1천원짜리:    2장
지폐 미만:  400원
지폐로 교환할 돈은 얼마? -1

In [60]:
# #문자넣으면 터짐
#input("뭐시기") 보단, print("뭐시기\\") 가 낫다. input안에는 escape 문자가 안 들어가서
# num1= int(input("첨부터감싸면 되잖"))
# print(num1)

첨부터감싸면 되잖1df3

ValueError: invalid literal for int() with base 10: '1df3'

### if
180221

In [8]:
a= 4;
if 5==a:
    print("에이 몇 {0}".format(a))
else:
    print("oh no")

oh no

##### 학점 출력

In [32]:
print("점수를 입력하세요: ")
score= input()

if score.isnumeric():
    score= int(score)
else:
    print("숫자로만 입력해줘")

if 100< score:
    print("100밑으로 입력점")
elif 95<= score:
    print("A+")
elif 90<= score:
    print("A")
elif 85<= score:
    print("B+")
elif 80<= score:
    print("B")
elif 75<= score:
    print("C+ 재수강가능")
elif 70<= score:
    print("C0 재수강ㅊㅊ")
elif 65<= score:
    print("D+ 교수님이 너 싫어함")
elif 60<= score:
    print("D0 교수님이 너진짜 싫어함 ㅇㅇ")
else:
    print("F")

# 삼항 연산자: T일때 if 조건 else F일때
res= '합격' if 70<= score else '불합격'; print(res)

점수를 입력하세요:
101
100밑으로 입력점
합격

In [31]:
a= 80
if a< 100:
    print("100보다 작음")
    pass
print("if랑 무관")

100보다 작음
if랑 무관

In [25]:
fruit= ['사과','배']; print(fruit)

['사과', '배']

In [26]:
fruit+= '귤'; fruit

['사과', '배', '귤']

In [27]:
fruit+= ['포도','토끼']; fruit

['사과', '배', '귤', '포도', '토끼']

In [28]:
fruit.pop()

'토끼'

#### for, range

In [35]:
import random

In [38]:
numbers= []
for num in range(0,10):
    numbers.append(random.randrange(0,10))
    #     numbers+= random.randrange(0,10)
numbers

[9, 3, 0, 1, 3, 6, 3, 9, 1, 1]

In [40]:
[random.randrange(0,10) for num1 in range(0,10)]

[0, 1, 0, 1, 1, 3, 5, 1, 9, 5]

In [42]:
[num2 for num2 in range(0,10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
[num2 for num2 in range(0,9)]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
st1= [1,2,3,4,5,6,7,8,9]
print(st1[0:5])
print(st1[5:8])

[1, 2, 3, 4, 5]
[6, 7, 8]

#### eval()
evil

In [46]:
a= str(1+2+3); a

'6'

In [47]:
eval(a)

6

#### 종합계산기
1. 입력한 수식 계산 2. 두수 사이 합계

In [93]:
print("1.입력한 수식 계산\n2. 두 수 사이 합계\n")
user_choice= input()

if -1!= user_choice.find('1'):
    print("*"*3+"수식을 입력하세요:")
    user_input= input()
    
    if -1!= user_input.find('r'):
        print("^0^")
    elif user_input.isalpha() or user_input.isalnum():
        print("수식을 바르게 입력해주세요")
    else:    
        res= eval(user_input)
        print("{0:10} 결과는 {1:5} 입니다".format(user_input, res))
elif -1!= user_choice.find('2'):
    print("정수 2개 입력이염: ")
    user_val1= input()
    user_val2= input()
    
    if user_val1 > user_val2:
        user_val1, user_val2= user_val2, user_val1
    #print("%s %s" % (user_val1, user_val2))
    
    user_val1= int(user_val1)
    user_val2= int(user_val2)
    #print("%d %d" % (user_val1, user_val2))
    
    sum1= 0
    for val in range(user_val1+1, user_val2):
        sum1+= val
    
    print("{0}, {1} 사이값들 합계: {2}".format(user_val1, user_val2, sum1))

1.입력한 수식 계산
2. 두 수 사이 합계

1
***수식을 입력하세요:
12ㅁㄴㅇㄹ
수식을 바르게 입력해주세요

In [85]:
# C에서 eval없이 계산기 가능했었지. 근데 비추
# a= '5+4*2/1-3'
# a1= a.split('+'); print(a1)
# a2= a1[1].split('*'); print(a2)
# #.split('/').split('-')

['5', '4*2/1-3']
['4', '2/1-3']

In [150]:
sum1= 0
for i in range(1,10+1):
    sum1+= i
print("1에서 10까지 합계: {0}".format(sum1))

1에서 10까지 합계: 55

In [82]:
# 3배수 제외하고 합계
sum1= 0
for i in range(5):
    if i%3 == 0:
        continue
    sum1+= i
    print("%d "%i, end="")
print("\n%d"%sum1)

1 2 4
7

#### 구구단 수평출력

In [106]:
[a for a in range(1,10,2)]

[1, 3, 5, 7, 9]

In [115]:
[a for a in range(2,-3,-1)]

[2, 1, 0, -1, -2]

In [96]:
[1*_19 for _19 in range(1,10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
# print 수평 출력
for i in range(1,6,1):
    print("%d" %i, end= "" )
print("\n")
for i in range(1,6,1):
    print("%d" %i, end= "\n" )

12345

1
2
3
4
5

In [120]:
# print 옵션 end를 몰랐을 때
prn99= ''
for i in range(2,10):
    prn99= prn99+" # "+str(i)+"단 # "
    
print(prn99)

 # 2단 #  # 3단 #  # 4단 #  # 5단 #  # 6단 #  # 7단 #  # 8단 #  # 9단 #

In [121]:
for i in range(2,10):
    print(" # %d단 # "%i, end="")

 # 2단 #  # 3단 #  # 4단 #  # 5단 #  # 6단 #  # 7단 #  # 8단 #  # 9단 #

In [17]:
n= 9
for title in range(2,10):
    print("#%3d단  #  "%title, end="")

print("\n")
for i in range(1, n+1):
    for j in range(2, 10):
        print("{0}X{1:3}={2:3}  ".format(j,i,j*i), end= "")
    print("")

#  2단  #  #  3단  #  #  4단  #  #  5단  #  #  6단  #  #  7단  #  #  8단  #  #  9단  #

2X  1=  2  3X  1=  3  4X  1=  4  5X  1=  5  6X  1=  6  7X  1=  7  8X  1=  8  9X  1=  9
2X  2=  4  3X  2=  6  4X  2=  8  5X  2= 10  6X  2= 12  7X  2= 14  8X  2= 16  9X  2= 18
2X  3=  6  3X  3=  9  4X  3= 12  5X  3= 15  6X  3= 18  7X  3= 21  8X  3= 24  9X  3= 27
2X  4=  8  3X  4= 12  4X  4= 16  5X  4= 20  6X  4= 24  7X  4= 28  8X  4= 32  9X  4= 36
2X  5= 10  3X  5= 15  4X  5= 20  5X  5= 25  6X  5= 30  7X  5= 35  8X  5= 40  9X  5= 45
2X  6= 12  3X  6= 18  4X  6= 24  5X  6= 30  6X  6= 36  7X  6= 42  8X  6= 48  9X  6= 54
2X  7= 14  3X  7= 21  4X  7= 28  5X  7= 35  6X  7= 42  7X  7= 49  8X  7= 56  9X  7= 63
2X  8= 16  3X  8= 24  4X  8= 32  5X  8= 40  6X  8= 48  7X  8= 56  8X  8= 64  9X  8= 72
2X  9= 18  3X  9= 27  4X  9= 36  5X  9= 45  6X  9= 54  7X  9= 63  8X  9= 72  9X  9= 81

In [20]:
# 한지웅
# # 제목문
# print("구구단 > < 졸리다 잠이온다 배고프다")

# # 단수 포문
# for a in range(1,10):
#     print("  #%2d단#  "%a,end="\t")
    
# #구구단 포문    
# for i in range(1,10):
#         for j in range(1,10):
#             print("%d X %d =%2d "%(j,i,i*j),end="\t")

In [144]:
[i for i in range(4,-4-1,-2)]

[4, 2, 0, -2, -4]

#### 다이아 출력

In [133]:
# print('%'+str(i)+'s' % '*' ) 응 안 돼
print('%5s' % '*')

    *

In [31]:
n= 7
for i in range(n-1,-n,-1):
#     print(i, end="")
    if n/2< abs(i):
        continue
    print('  '*abs(i)+'\u2605'*(n-abs(i)*2))

      ★
    ★★★
  ★★★★★
★★★★★★★
  ★★★★★
    ★★★
      ★

In [19]:
n= 9
for i in range(n-1,-n,-1):
    if n/2< abs(i):
        continue
    if i%2== 0:
        ch1= '\u25c7'
    else:
        ch1= '\u25c6'
    print('  '*abs(i)+ch1*(n-abs(i)*2))

        ◇
      ◆◆◆
    ◇◇◇◇◇
  ◆◆◆◆◆◆◆
◇◇◇◇◇◇◇◇◇
  ◆◆◆◆◆◆◆
    ◇◇◇◇◇
      ◆◆◆
        ◇

In [37]:
print('*'*3+'-'*0+'$'*(-2)+'TTT') # 음수곱이면 출력 X

***TTT

In [20]:
n= 7
#print(n/2) # 7/2= 3.5
for i in range(n-1,-n,-1):
    if n/2< abs(i):
        continue
    ch1= '\u25c6'
    c1= abs(i)

    print('  '*c1+ch1*(n-abs(i)*2))

      ◆
    ◆◆◆
  ◆◆◆◆◆
◆◆◆◆◆◆◆
  ◆◆◆◆◆
    ◆◆◆
      ◆

In [22]:
import math
n= 7
if n%2== 0:
    n+= 1

for i in range(n-1,-n,-1):
    if n/2< abs(i):
        continue
    #print(i, n/2)
    ch_on= '\u25c6'
    ch_off= '  '
    
    c1= abs(i)
    c2= 1
    c3= abs(i)*(-2)+(n-2) # lm(c3~ abs_i, df2), lm(c3~ abs_i, df3_5) 일반식
    c4= 0 if math.floor(n/2)== abs(i) else 1

    print(ch_off*c1+ ch_on*c2+ ch_off*c3+ ch_on* c4)

      ◆
    ◆  ◆
  ◆      ◆
◆          ◆
  ◆      ◆
    ◆  ◆
      ◆

### 탈출
break, continue, exit()

In [2]:
# Jupyter에서 쓰면 Kernel down됨 ;;
# exit(0): 비정상 종료
# exit(1): 정상 종료
# if input()== '-1':
#     exit(0)

##### 예제: 최초로 1000이 넘게 하는 숫자 @sum

In [6]:
sum1= 0
i= 1
while sum1< 1000:
    sum1+= i
    i+=1
print(i,  sum1)

46 1035

In [14]:
import random
while 3!=random.randrange(1,30):
    print("즹 닭 ", end="")

즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭 즹 닭

In [12]:
random.randrange(1,10)

6