### 리스트

In [9]:
li11= []

In [10]:
li11.append(0)

In [11]:
li11

[0]

In [99]:
a1=['-']*26
a2= [1]*27
print(a1)
a2

['-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-', '-']

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

###### 기능구현하면 ㅅㄱㄹㅆ 어떻게 했는지 꼭 보자. insight++

In [129]:
# 에러가 안 나네?? 00000 들어오긴 함. 왜지;;

# 같은 for문으로는 구현 못 함- 아직 없는 even100[99] 을 even011[0] 에 넣으려
# even100 [, ...., 196, 198]
# even011[198, 196, ......]
even100= []
even001= []
for i in range(100):
    even100.append(i*2)
#     print(-i-1, end=" ")
    even001.append(even100[-i-1])
#     even001.append(even100[i])
    pass
print(even100)
print(even001)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

##### R에서는 되지만, python에선 안 되는 것
index out of range

In [124]:
li= []
li[2]= 3

IndexError: list assignment index out of range

In [113]:
# 역순 넣기1- reverse 안 쓰고
n= 100
even100= [i*2 for i in range(0,n,1)]
even011= []
for i in range(n-1, 0-1, -1):
    even011.append(even100[i])
print(even011)

[198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [105]:
# 역순 넣기1_2, reverse 안 쓰고+ ㅅ가람ㅆ
even100= [i*2 for i in range(n)]
even011= []
n= len(even100)
for i in range(n):
#     print(i)
    even011.append(even100[-i-1]) # -0 말고 -0-1 부터
print(even011)

[198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [143]:
# 역순넣기 n
even100= [i*2 for i in range(n)]
even001= []
while even100:
    even001.append(even100.pop())
print(even001)

[198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [145]:
#-ing # 역순 swap
even100= [i*2 for i in range(n)]; print(even100)
print(len(even100))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

100

In [109]:
# reverse 안 쓰고, 역순 넣기2
even100= [i*2 for i in range(0,100,1)]
even011= even100[::-1]
print(even011)

[198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [110]:
# 역순 넣기3
even100= [i*2 for i in range(0,100,1)]
even011= sorted(even100, reverse= True)
print(even011)

[198, 196, 194, 192, 190, 188, 186, 184, 182, 180, 178, 176, 174, 172, 170, 168, 166, 164, 162, 160, 158, 156, 154, 152, 150, 148, 146, 144, 142, 140, 138, 136, 134, 132, 130, 128, 126, 124, 122, 120, 118, 116, 114, 112, 110, 108, 106, 104, 102, 100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [112]:
# 역순 넣기3- 특정 범위만
even100= [i*2 for i in range(100)]
even011= sorted(even100[2:30], reverse= True)
print(even011)

[58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4]

In [49]:
li= [i*10 for i in range(1,8)]; li

[10, 20, 30, 40, 50, 60, 70]

In [50]:
print(li[::2])
print(li[0::2])
print(li[0:len(li):2])

[10, 30, 50, 70]
[10, 30, 50, 70]
[10, 30, 50, 70]

In [51]:
print(li[::-2])
print(li[len(li)::-2])
print(li[len(li):0:-2])
print(li[:0:-2])

[70, 50, 30, 10]
[70, 50, 30, 10]
[70, 50, 30]
[70, 50, 30]

In [64]:
print(li[::-1])
print(li[len(li)::-1])
print(li[:len(li):-1])
print(li[:-1:-1])
print(li[len(li):-1:-1])

[70, 60, 50, 40, 30, 20, 10]
[70, 60, 50, 40, 30, 20, 10]
[]
[]
[]

In [67]:
print(li[len(li):0:-1])
print(li[len(li)-1::-1])
print(li[len(li)-2::-1])

[70, 60, 50, 40, 30, 20]
[70, 60, 50, 40, 30, 20, 10]
[60, 50, 40, 30, 20, 10]

In [61]:
print(li[len(li):0:-1])

[70, 60, 50, 40, 30, 20]

In [133]:
lif= [i for i in range(5)]; lif

[0, 1, 2, 3, 4]

In [134]:
lif.count()

TypeError: count() takes exactly one argument (0 given)

In [135]:
lif.count(2)

1

In [137]:
len(lif)

5

In [138]:
lif= []; lif

[]

In [141]:
lif= [i for i in range(5)]; lif

[0, 1, 2, 3, 4]

In [142]:
lif.clear(); lif

[]

In [147]:
a= [1,2,'a']; a

[1, 2, 'a']

#### 2차원 리스트
생성, 출력 둘다 암만봐도 더 좋은 게 있을 것 같다

In [166]:
list2= []
i_n= 3; j_n= 4
val= 1
for i in range(i_n):
    list1= []
    for j in range(j_n):
        list1.append(val)
        val+=1
    list2.append(list1)   # 행 리스트 요소로 열 리스트 넣기
pass

In [167]:
for i2 in range(i_n):
    for j2 in range(j_n):
        print("{0:3}".format(list2[i2][j2]), end="")
    print()
pass

  1  2  3  4
  5  6  7  8
  9 10 11 12

##### 2차원 리스트 생성 간단히
f = open(r"temp.txt"); 
[[c for c in line] for line in f]

In [169]:
i_n= 3; j_n= 4; 
[[j+1 for j in range(j_n)] for i in range(i_n)]

[[1, 2, 3, 4], [1, 2, 3, 4], [1, 2, 3, 4]]

##### 예제: 4행 5열 2차원 리스트, 0~, 3배수

In [178]:
li2_45= [[j*3+i*15 for j in range(5)] for i in range(4)]
print(li2_45)

[[0, 3, 6, 9, 12], [15, 18, 21, 24, 27], [30, 33, 36, 39, 42], [45, 48, 51, 54, 57]]

In [204]:
# 일반식. 3배수 n_i X n_j 2차원 리스트
n_j= 5
n_i= 4
li2_45= [[(j+n_j*i)*(n_i-1) for j in range(n_j)] for i in range(n_i)]
print(li2_45)

[[0, 3, 6, 9, 12], [15, 18, 21, 24, 27], [30, 33, 36, 39, 42], [45, 48, 51, 54, 57]]

In [200]:
print(len(li2_45))
print(len(li2_45[0]))

5
5

In [201]:
j_n= len(li2_45[0])
i_n= len(li2_45)
for i2 in range(i_n):
    for j2 in range(j_n):
        print("{0:3}".format(li2_45[i2][j2]), end=" ")
    print()

  0   4   8  12  16
 20  24  28  32  36
 40  44  48  52  56
 60  64  68  72  76
 80  84  88  92  96

In [216]:
line =""
j_n= len(li2_45[0])
i_n= len(li2_45)
for i2 in range(i_n):
    for j2 in range(j_n):
        line+= str("%3d" % li2_45[i2][j2])
    line+= '\n'
print(line)

  0  3  6  9 12
 15 18 21 24 27
 30 33 36 39 42
 45 48 51 54 57

In [217]:
j_n= len(li2_45[0])
i_n= len(li2_45)
for i2 in range(i_n):
    line= ""
    for j2 in range(j_n):
        line+= str("%3d" % li2_45[i2][j2])
    print(line)

  0  3  6  9 12
 15 18 21 24 27
 30 33 36 39 42
 45 48 51 54 57

###### 불규칙 2차원 리스트 출력

In [218]:
lii= [[1,2,3,4], [5,6], [7,8,9]]

In [7]:
import random
lii= [[j+i for j in range(random.randrange(3,9))] for i in range(3)]; lii

[[0, 1, 2, 3], [1, 2, 3, 4, 5, 6, 7], [2, 3, 4, 5, 6]]

In [8]:
n_i= len(lii)
line22= ""
for i in range(n_i):
    for j in range(len(lii[i])):
        line22+= str("%3d"% lii[i][j])
    line22+= '\n'
print(line22)

  0  1  2  3
  1  2  3  4  5  6  7
  2  3  4  5  6

###### 언패킹

In [9]:
li1, li2, li3= lii
print(li1)
print(li2)
print(li3)

[0, 1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]
[2, 3, 4, 5, 6]