### bikeShare
[bikeShare](https://www.kaggle.com/c/bike-sharing-demand)
text없고 encoding 되어 있어서 분석하는 맛이 있는 데이터. 대여 개수가 얼마나 되냐

In [2]:
import pandas as pd

casual: 비 회원 대여량
registered: 회원 대여량

In [3]:
train= pd.read_csv("data/train.csv", parse_dates=["datetime"])
test= pd.read_csv("data/test.csv", parse_dates=["datetime"])

In [4]:
print(train.shape)
print(test.shape)
print(train.head())
print(test.head())

(10886, 12)
(6493, 9)
             datetime  season  holiday  workingday  weather  temp   atemp  \
0 2011-02-07 08:00:00       1        0           1        2  6.56  11.365
1 2011-02-05 06:00:00       1        0           0        3  8.20  12.880
2 2011-02-02 10:00:00       1        0           1        2  9.02  13.635
3 2011-02-05 14:00:00       1        0           0        3  9.02  13.635
4 2011-02-05 15:00:00       1        0           0        3  9.02  13.635

   humidity  windspeed  casual  registered  count
0       100        0.0       7         223    230
1       100        0.0       0           4      4
2       100        0.0       2          59     61
3       100        0.0       5          50     55
4       100        0.0      11          49     60
             datetime  season  holiday  workingday  weather   temp   atemp  \
0 2011-01-20 00:00:00       1        0           1        1  10.66  11.365
1 2011-01-20 01:00:00       1        0           1        1  10.66  13.635
2 2011-01-20 02:00:00       1        0           1        1  10.66  13.635
3 2011-01-20 03:00:00       1        0           1        1  10.66  12.880
4 2011-01-20 04:00:00       1        0           1        1  10.66  12.880

   humidity  windspeed
0        56    26.0027
1        56     0.0000
2        56     0.0000
3        56    11.0014
4        56    11.0014

In [5]:
train.loc[train["weather"].isin([1,2]),"weather12"]= 1
train.loc[train["weather"].isin([3,4]),"weather34"]= 0

In [6]:
train["atemp_LL"]= (train["atemp"]<10) 
train["atemp_L"]= ((train["atemp"]>=10) & (train["atemp"]<20))
train["atemp_M"]= ((train["atemp"]>=20) & (train["atemp"]<30))
train["atemp_H"]= ((train["atemp"]>=30) & (train["atemp"]<40))
train["atemp_HH"]= (train["atemp"]>=40)

In [7]:
test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013
10,2011-01-20 10:00:00,1,0,1,1,10.66,11.365,48,19.9995
11,2011-01-20 11:00:00,1,0,1,2,11.48,13.635,45,11.0014
12,2011-01-20 12:00:00,1,0,1,2,12.30,16.665,42,0.0000
13,2011-01-20 13:00:00,1,0,1,2,11.48,14.395,45,7.0015
14,2011-01-20 14:00:00,1,0,1,2,12.30,15.150,45,8.9981
15,2011-01-20 15:00:00,1,0,1,2,13.12,15.910,45,12.9980
16,2011-01-20 16:00:00,1,0,1,2,12.30,15.150,49,8.9981
17,2011-01-20 17:00:00,1,0,1,2,12.30,15.910,49,7.0015
18,2011-01-20 18:00:00,1,0,1,2,10.66,12.880,56,12.9980
19,2011-01-20 19:00:00,1,0,1,1,10.66,11.365,56,22.0028
20,2011-01-20 20:00:00,1,0,1,2,10.66,12.120,60,19.0012
21,2011-01-20 21:00:00,1,0,1,2,9.84,11.365,60,16.9979
22,2011-01-20 22:00:00,1,0,1,2,9.84,10.605,65,19.0012
23,2011-01-20 23:00:00,1,0,1,2,9.84,10.605,65,22.0028
24,2011-01-21 00:00:00,1,0,1,2,9.84,11.365,70,16.9979
25,2011-01-21 01:00:00,1,0,1,2,9.84,11.365,70,16.9979
26,2011-01-21 02:00:00,1,0,1,3,9.84,12.120,75,11.0014
27,2011-01-21 03:00:00,1,0,1,3,9.02,10.605,80,19.9995
28,2011-01-21 04:00:00,1,0,1,2,9.02,12.880,87,6.0032
29,2011-01-21 05:00:00,1,0,1,1,9.84,9.850,60,27.9993
...,...,...,...,...,...,...,...,...,...
6463,2012-12-30 18:00:00,1,0,0,2,9.84,10.605,44,19.9995
6464,2012-12-30 19:00:00,1,0,0,1,13.94,18.180,61,0.0000
6465,2012-12-30 20:00:00,1,0,0,1,9.02,9.850,47,22.0028
6466,2012-12-30 21:00:00,1,0,0,1,8.20,10.605,51,11.0014
6467,2012-12-30 22:00:00,1,0,0,1,8.20,9.850,55,12.9980
6468,2012-12-30 23:00:00,1,0,0,1,8.20,9.850,51,15.0013
6469,2012-12-31 00:00:00,1,0,1,1,7.38,9.090,55,12.9980
6470,2012-12-31 01:00:00,1,0,1,1,7.38,9.090,55,12.9980
6471,2012-12-31 02:00:00,1,0,1,1,6.56,8.335,59,11.0014
6472,2012-12-31 03:00:00,1,0,1,1,6.56,9.090,59,7.0015
6473,2012-12-31 04:00:00,1,0,1,1,5.74,8.335,69,7.0015
6474,2012-12-31 05:00:00,1,0,1,1,6.56,7.575,64,12.9980
6475,2012-12-31 06:00:00,1,0,1,1,6.56,8.335,64,11.0014
6476,2012-12-31 07:00:00,1,0,1,1,6.56,9.090,64,8.9981
6477,2012-12-31 08:00:00,1,0,1,1,5.74,7.575,69,8.9981
6478,2012-12-31 09:00:00,1,0,1,2,7.38,10.605,64,7.0015
6479,2012-12-31 10:00:00,1,0,1,2,8.20,10.605,69,8.9981
6480,2012-12-31 11:00:00,1,0,1,2,9.02,11.365,60,12.9980
6481,2012-12-31 12:00:00,1,0,1,2,9.84,11.365,56,12.9980
6482,2012-12-31 13:00:00,1,0,1,2,10.66,12.880,44,11.0014
6483,2012-12-31 14:00:00,1,0,1,2,11.48,13.635,45,15.0013
6484,2012-12-31 15:00:00,1,0,1,2,11.48,14.395,45,8.9981
6485,2012-12-31 16:00:00,1,0,1,2,10.66,12.880,48,12.9980
6486,2012-12-31 17:00:00,1,0,1,2,10.66,14.395,48,6.0032
6487,2012-12-31 18:00:00,1,0,1,2,10.66,13.635,48,8.9981
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981

In [8]:
train["humidity10"]= floor(train["humidity"]/10)
test["humidity10"]= floor(test["humidity"]/10)

In [9]:
# test엔 casual이 없다.
# train["regBigger"]= train["casual"] < train["registered"]
# test["regBigger"]= test["casual"] < test["registered"]

atemp: 체감온도.
datetime은 나중에 더 유용하게 쓸거고, 이거 외엔 index로 쓸만한 열이 없음

In [10]:
train["datetime_Y"] = train["datetime"].dt.year
train["datetime_M"] = train["datetime"].dt.month
train["datetime_D"] = train["datetime"].dt.day
train["datetime_h"] = train["datetime"].dt.hour
train["datetime_m"] = train["datetime"].dt.minute
train["datetime_s"] = train["datetime"].dt.second

train["datetime_s"] = train["datetime"].dt.dayofweek

In [11]:
train[["count","atemp_LL","atemp_L","atemp_M","atemp_H","atemp_HH"]]
train.to_csv("data/train_try4.csv", index=False)

### train

In [14]:
# feature_names=["season","holiday","workingday","weather","temp","atemp","humidity","windspeed"]
feature_names=["season","holiday","workingday","weather","temp","atemp","humidity","windspeed"]

feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed']

In [15]:
X_train= train[feature_names]

print(X_train.shape)
X_train.head()

(10886, 8)

   season  holiday  workingday  weather  temp   atemp  humidity  windspeed
0       1        0           1        2  6.56  11.365       100        0.0
1       1        0           0        3  8.20  12.880       100        0.0
2       1        0           1        2  9.02  13.635       100        0.0
3       1        0           0        3  9.02  13.635       100        0.0
4       1        0           0        3  9.02  13.635       100        0.0

In [16]:
X_test= test[feature_names]

print(X_test.shape)
X_test.head()

(6493, 8)

   season  holiday  workingday  weather   temp   atemp  humidity  windspeed
0       1        0           1        1  10.66  11.365        56    26.0027
1       1        0           1        1  10.66  13.635        56     0.0000
2       1        0           1        1  10.66  13.635        56     0.0000
3       1        0           1        1  10.66  12.880        56    11.0014
4       1        0           1        1  10.66  12.880        56    11.0014

In [17]:
label_name= "count"
y_train= train[label_name]

print(y_train.shape)
y_train.head()

(10886,)

0    230
1      4
2     61
3     55
4     60
Name: count, dtype: int64

In [18]:
from sklearn.ensemble import RandomForestRegressor
model= RandomForestRegressor(random_state=37) #모델개선 정도를 알아보려고 특정 랜덤을 고정시키는것

model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

### score

In [19]:
from sklearn.model_selection import cross_val_score
# score= cross_val_score(model, X_train, y_train, cv=20).mean() #cv 기본값은 3
score= cross_val_score(model, X_train, y_train, cv=20, scoring="neg_mean_absolute_error").mean() #0에 근접하도록 만듦

# score= -1*score

print("Score= {0:.5f}".format(score))
#0 에 근접할지만 알면 되고, +- 는 중요치 않아. sclearen의 역사랑 얽혀있는거

Score= -123.51719

In [20]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [21]:
predictions= model.predict(X_test)
print(predictions.shape)
predictions[0:10]
#0시, 1시, ...

(6493,)

array([  85.7       ,   49.85      ,   49.85      ,   91.7       ,
         91.7       ,  120.56666667,  150.11666667,   56.7       ,
        105.5       ,  110.7       ])

### submit

In [22]:
#캐글 제출형식으로 만들기
submit= pd.read_csv("data/sampleSubmission_try1.csv")
print(submit.shape)
submit.head()

FileNotFoundError: File b'data/sampleSubmission_try1.csv' does not exist

In [ ]:
#예측값 넣기
submit["count"]= predictions
print(submit.shape)
submit.head()

In [ ]:
#파일 저장
# submit.to_csv("data/baseline_script.csv") # 이대로 넣으면 판다가 기본 인덱스 0~n 을 넣어버림
submit.to_csv("data/baseline_script.csv", index=False)

decision tree: score: 1.62927
#.
random forest: 1.39409

값이 작을수록 좋은것

판단기준이지만, 맹신 ㄴㄴ. 이게 떨어지는데 캐글값이 올라가는 경우도 있다