In [26]:
import numpy as np
import pandas as pd

## Load Dataset

In [27]:
train = pd.read_csv("data/train.csv", parse_dates=["datetime"])

print(train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-02-07 08:00:00,1,0,1,2,6.56,11.365,100,0.0,7,223,230
1,2011-02-05 06:00:00,1,0,0,3,8.20,12.880,100,0.0,0,4,4
2,2011-02-02 10:00:00,1,0,1,2,9.02,13.635,100,0.0,2,59,61
3,2011-02-05 14:00:00,1,0,0,3,9.02,13.635,100,0.0,5,50,55
4,2011-02-05 15:00:00,1,0,0,3,9.02,13.635,100,0.0,11,49,60

In [28]:
test = pd.read_csv("data/test.csv", parse_dates=["datetime"])

print(test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Preprocessing

### Parse datetime

In [29]:
train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second
train["datetime-dayofweek"] = train["datetime"].dt.dayofweek

train["day_mon"]= train["datetime"].dt.dayofweek==0
train["day_tue"]= train["datetime"].dt.dayofweek==1
train["day_wed"]= train["datetime"].dt.dayofweek==2
train["day_thi"]= train["datetime"].dt.dayofweek==3
train["day_fri"]= train["datetime"].dt.dayofweek==4
train["day_sat"]= train["datetime"].dt.dayofweek==5
train["day_sun"]= train["datetime"].dt.dayofweek==6

print(train.shape)
train[["datetime", "datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-minute", "datetime-second", "datetime-dayofweek"]].head()

(10886, 26)

,datetime,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second,datetime-dayofweek
0,2011-02-07 08:00:00,2011,2,7,8,0,0,0
1,2011-02-05 06:00:00,2011,2,5,6,0,0,5
2,2011-02-02 10:00:00,2011,2,2,10,0,0,2
3,2011-02-05 14:00:00,2011,2,5,14,0,0,5
4,2011-02-05 15:00:00,2011,2,5,15,0,0,5

In [30]:
test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

#mon이 0 (아마도?)
test["datetime-dayofweek"] = test["datetime"].dt.dayofweek
test["day_mon"]= test["datetime"].dt.dayofweek==0
test["day_tue"]= test["datetime"].dt.dayofweek==1
test["day_wed"]= test["datetime"].dt.dayofweek==2
test["day_thi"]= test["datetime"].dt.dayofweek==3
test["day_fri"]= test["datetime"].dt.dayofweek==4
test["day_sat"]= test["datetime"].dt.dayofweek==5
test["day_sun"]= test["datetime"].dt.dayofweek==6

In [31]:
print(test.shape)
# test[["datetime", "datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-minute", "datetime-second", "datetime-dayofweek"]].head()
# test[["day_mon", "day_tue", "day_wed", "day_thi", "day_fri", "day_sat", "day_sun"]]

(6493, 23)

#### windspeed 0 or not0

In [32]:
train_wd_not0= train[train["windspeed"]!=0]
train_wd_not0.head()

test_wd_not0= test[test["windspeed"]!=0]
test_wd_not0.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,...,datetime-minute,datetime-second,datetime-dayofweek,day_mon,day_tue,day_wed,day_thi,day_fri,day_sat,day_sun
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,...,0,0,3,False,False,False,True,False,False,False
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,...,0,0,3,False,False,False,True,False,False,False
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,...,0,0,3,False,False,False,True,False,False,False
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013,2011,...,0,0,3,False,False,False,True,False,False,False
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013,2011,...,0,0,3,False,False,False,True,False,False,False

In [33]:
train_wd_0= train[train["windspeed"]==0]
train_wd_0.head()

test_wd_0= test[test["windspeed"]==0]
test_wd_0.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,...,datetime-minute,datetime-second,datetime-dayofweek,day_mon,day_tue,day_wed,day_thi,day_fri,day_sat,day_sun
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0,2011,...,0,0,3,False,False,False,True,False,False,False
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0,2011,...,0,0,3,False,False,False,True,False,False,False
12,2011-01-20 12:00:00,1,0,1,2,12.30,16.665,42,0.0,2011,...,0,0,3,False,False,False,True,False,False,False
60,2011-01-22 13:00:00,1,0,0,1,3.28,8.335,35,0.0,2011,...,0,0,5,False,False,False,False,False,True,False
62,2011-01-22 15:00:00,1,0,0,1,4.92,7.575,28,0.0,2011,...,0,0,5,False,False,False,False,False,True,False

## Explore

In [34]:
%matplotlib inline
import seaborn as sns

### datetime

In [35]:
import matplotlib.pyplot as plt

In [36]:
# figure, ((ax1, ax2, ax3), (ax4, ax5, ax6)) = plt.subplots(nrows=2, ncols=3)
# figure.set_size_inches(18, 8)

# sns.barplot(data=train, x="datetime-year", y="count", ax=ax1)
# sns.barplot(data=train, x="datetime-month", y="count", ax=ax2)
# sns.barplot(data=train, x="datetime-day", y="count", ax=ax3)
# sns.barplot(data=train, x="datetime-hour", y="count", ax=ax4)
# sns.barplot(data=train, x="datetime-minute", y="count", ax=ax5)
# sns.barplot(data=train, x="datetime-second", y="count", ax=ax6)

In [37]:
# int == integer == 숫자
# str == string == 문자열
train["datetime-year_month"] = train["datetime-year"].astype('str') + "-" + train["datetime-month"].astype('str')

print(train.shape)
train[["datetime", "datetime-year_month"]].head()

(10886, 27)

             datetime datetime-year_month
0 2011-02-07 08:00:00              2011-2
1 2011-02-05 06:00:00              2011-2
2 2011-02-02 10:00:00              2011-2
3 2011-02-05 14:00:00              2011-2
4 2011-02-05 15:00:00              2011-2

## 모델링

#### windspee 0/!0
이를테면, datetime-hour로 예측해보자(뭐가 더 정확한지는 본판 고민하듯 해야할 부분 or 크게 괜찮아지는지 봐야 함)

In [38]:
feature_names= ["datetime-hour"]
X_train= train_wd_not0[feature_names]

print(X_train.shape)

(9573, 1)

In [39]:
X_test = train_wd_0[feature_names]

print(X_test.shape)
X_test.head()

(1313, 1)

   datetime-hour
0              8
1              6
2             10
3             14
4             15

In [40]:
label_name = "windspeed"

y_train = train_wd_not0[label_name]

print(y_train.shape)
y_train.head()

(9573,)

23    6.0032
24    6.0032
25    6.0032
26    6.0032
27    6.0032
Name: windspeed, dtype: float64

### 나무 투표

In [41]:
from sklearn.ensemble import RandomForestRegressor

seed = 37

model = RandomForestRegressor(random_state=seed)
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

** Score ** = Root Mean Squared Logarithmic Error, RMSLE.

$$ \sqrt{\frac{1}{n} \sum_{i=1}^n (\log(p_i + 1) - \log(a_i+1))^2 } $$

In [42]:
from sklearn.metrics import make_scorer

def rmsle(predict, actual):
    predict = np.array(predict)
    actual = np.array(actual)
    
    log_predict = np.log(predict + 1)
    log_actual = np.log(actual + 1)
    
    difference = log_predict - log_actual
    square_difference = difference ** 2
    mean_square_difference = square_difference.mean()
    
    score = np.sqrt(mean_square_difference)
    
    return score

rmsle_score = make_scorer(rmsle)
rmsle_score

make_scorer(rmsle)

## Submit

In [43]:
model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=37, verbose=0, warm_start=False)

In [44]:
predictions = model.predict(X_test)

print(predictions.shape)
# predictions[:3]
predictions

(1313,)

array([ 13.7917517 ,  12.32853776,  15.32646383, ...,  17.15024307,
        17.47719071,  17.35616696])

In [45]:
# predictions을 wind~~0 에 넣으면 되려나

# 여기서 어떻게 하지??
data/sampleSubmission 형식으로 넣는 건 아닐거 아냐

In [46]:
submission = pd.read_csv("data/sampleSubmissionWd.csv")

submission["windspeed"] = predictions

print(submission.shape)
submission.head()

ValueError: Length of values does not match length of index

In [ ]:
# submission.to_csv("result/fromTeach1203_wind.csv", index=False)

In [ ]:
predictions.to_csv("result/fromTeach1203_wind.csv", index=False)