범죄 카테고리 맞추기
https://www.kaggle.com/c/sf-crime

XGboost

설치에러 해결법

에러문을 그대로 구글링::No files/directories in  pip-build-ej9ki3tg\xgboost\pip-egg-info from PKG-INFO)
https://stackoverflow.com/questions/33749735/how-to-install-xgboost-package-in-python-windows-platform/39811079#39811079

다운방법
https://www.lfd.uci.edu/~gohlke/pythonlibs/
버전이 뭔지 확인
pip --version

설치에러 해결법

에러문을 그대로 구글링::No files/directories in  pip-build-ej9ki3tg\xgboost\pip-egg-info from PKG-INFO)
https://stackoverflow.com/questions/33749735/how-to-install-xgboost-package-in-python-windows-platform/39811079#39811079
다운방법
https://www.lfd.uci.edu/~gohlke/pythonlibs/
버전이 뭔지 확인
pip --version

xgboost‑0.7‑cp36‑cp36m‑win_amd64.whl
내것에 맞는 요 파일을 다운받고, 다운받은 위치에서
pip install xgboost‑0.7‑cp36‑cp36m‑win_amd64.whl

In [4]:
import xgboost as xgb
import pandas as pd

In [8]:
train= pd.read_csv("data/train.csv")

print(train.shape)
train.head()
# Category, Descript, Resolution 은 train에만 있음
#pdDistrict, Address, X, Y

(878049, 9)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [6]:
test= pd.read_csv("data/test.csv")

print(test.shape)
test.head()

(884262, 7)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [7]:
train["Category"].unique()

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING', 'SEX OFFENSES NON FORCIBLE',
       'EXTORTION', 'GAMBLING', 'BAD CHECKS', 'TREA', 'RECOVERED VEHICLE',
       'PORNOGRAPHY/OBSCENE MAT'], dtype=object)

### preprocessing

### Train

In [9]:
feature_name= ["X","Y"]; feature_name

['X', 'Y']

In [11]:
X_train= train[feature_name]
print(X_train.shape)
X_train.head()

(878049, 2)

            X          Y
0 -122.425892  37.774599
1 -122.425892  37.774599
2 -122.424363  37.800414
3 -122.426995  37.800873
4 -122.438738  37.771541

In [12]:
X_test= test[feature_name]
print(X_test.shape)
X_test.head()

(884262, 2)

            X          Y
0 -122.399588  37.735051
1 -122.391523  37.732432
2 -122.426002  37.792212
3 -122.437394  37.721412
4 -122.437394  37.721412

In [13]:
label_name= "Category"
y_train= train[label_name]

print(y_train.shape)
y_train.head()

(878049,)

0          WARRANTS
1    OTHER OFFENSES
2    OTHER OFFENSES
3     LARCENY/THEFT
4     LARCENY/THEFT
Name: Category, dtype: object

#### xgboost와 비교위해 랜덤포레스트

In [17]:
from sklearn.ensemble import RandomForestClassifier

# model= RandomForestClassifier()
model= RandomForestClassifier(n_jobs= -1) #병렬처리. -1: 컴퓨터에 core 수를 알아서 찾아서 max만치 돌림.
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [ ]:
from sklearn.model_selection import cross_val_score

%time score= cross_val_score(model, X_train, y_train, cv=5).mean()
print("Score= {0:.5f}.format(score)")