In [1]:
import pandas as pd

## Load Dataset

In [2]:
train = pd.read_csv("data/train.csv", parse_dates=["Dates"])

# train["Dates"].dt.year # (year/month/day/hour/minute/second)

print(train.shape)
train.head()

(878049, 9)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [3]:
test = pd.read_csv("data/test.csv", parse_dates=["Dates"])

print(test.shape)
test.head()

(884262, 7)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

## Preprocessing

### Parse Dates

In [4]:
train["Dates-year"] = train["Dates"].dt.year
train["Dates-month"] = train["Dates"].dt.month
train["Dates-day"] = train["Dates"].dt.day
train["Dates-hour"] = train["Dates"].dt.hour
train["Dates-minute"] = train["Dates"].dt.minute
train["Dates-second"] = train["Dates"].dt.second

print(train.shape)
train[["Dates", "Dates-year", "Dates-month", "Dates-day", "Dates-hour", "Dates-minute", "Dates-second"]].head()

(878049, 15)

,Dates,Dates-year,Dates-month,Dates-day,Dates-hour,Dates-minute,Dates-second
0,2015-05-13 23:53:00,2015,5,13,23,53,0
1,2015-05-13 23:53:00,2015,5,13,23,53,0
2,2015-05-13 23:33:00,2015,5,13,23,33,0
3,2015-05-13 23:30:00,2015,5,13,23,30,0
4,2015-05-13 23:30:00,2015,5,13,23,30,0

In [5]:
test["Dates-year"] = test["Dates"].dt.year
test["Dates-month"] = test["Dates"].dt.month
test["Dates-day"] = test["Dates"].dt.day
test["Dates-hour"] = test["Dates"].dt.hour
test["Dates-minute"] = test["Dates"].dt.minute
test["Dates-second"] = test["Dates"].dt.second

print(test.shape)
test[["Dates", "Dates-year", "Dates-month", "Dates-day", "Dates-hour", "Dates-minute", "Dates-second"]].head()

(884262, 13)

,Dates,Dates-year,Dates-month,Dates-day,Dates-hour,Dates-minute,Dates-second
0,2015-05-10 23:59:00,2015,5,10,23,59,0
1,2015-05-10 23:51:00,2015,5,10,23,51,0
2,2015-05-10 23:50:00,2015,5,10,23,50,0
3,2015-05-10 23:45:00,2015,5,10,23,45,0
4,2015-05-10 23:45:00,2015,5,10,23,45,0

In [6]:
%matplotlib inline
import seaborn as sns

In [7]:
# sns.countplot(data=train, x="Dates-minute")

In [8]:
# sns.lmplot(x="X", y="Y", hue="Category", truncate=True, size=5, data=train)

In [23]:
train[train['X'].between(-123, -121)]

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,Dates-year,Dates-month,Dates-day,Dates-hour,Dates-minute,Dates-second
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23,53,0
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,13,23,53,0
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,13,23,33,0
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,13,23,30,0
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015,5,13,23,30,0
5,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM UNLOCKED AUTO,Wednesday,INGLESIDE,NONE,0 Block of TEDDY AV,-122.403252,37.713431,2015,5,13,23,30,0
6,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,INGLESIDE,NONE,AVALON AV / PERU AV,-122.423327,37.725138,2015,5,13,23,30,0
7,2015-05-13 23:30:00,VEHICLE THEFT,STOLEN AUTOMOBILE,Wednesday,BAYVIEW,NONE,KIRKWOOD AV / DONAHUE ST,-122.371274,37.727564,2015,5,13,23,30,0
8,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,RICHMOND,NONE,600 Block of 47TH AV,-122.508194,37.776601,2015,5,13,23,0,0
9,2015-05-13 23:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,2015,5,13,23,0,0
10,2015-05-13 22:58:00,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Wednesday,CENTRAL,NONE,JEFFERSON ST / LEAVENWORTH ST,-122.419088,37.807802,2015,5,13,22,58,0
11,2015-05-13 22:30:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,0 Block of ESCOLTA WY,-122.487983,37.737667,2015,5,13,22,30,0
12,2015-05-13 22:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Wednesday,TENDERLOIN,NONE,TURK ST / JONES ST,-122.412414,37.783004,2015,5,13,22,30,0
13,2015-05-13 22:06:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / GEARY BL,-122.432915,37.784353,2015,5,13,22,6,0
14,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,200 Block of WILLIAMS AV,-122.397744,37.729935,2015,5,13,22,0,0
15,2015-05-13 22:00:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,BAYVIEW,NONE,0 Block of MENDELL ST,-122.383692,37.743189,2015,5,13,22,0,0
16,2015-05-13 22:00:00,ROBBERY,"ROBBERY, ARMED WITH A KNIFE",Wednesday,TENDERLOIN,NONE,EDDY ST / JONES ST,-122.412597,37.783932,2015,5,13,22,0,0
17,2015-05-13 21:55:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Wednesday,INGLESIDE,NONE,GODEUS ST / MISSION ST,-122.421682,37.742822,2015,5,13,21,55,0
18,2015-05-13 21:40:00,OTHER OFFENSES,TRAFFIC VIOLATION,Wednesday,BAYVIEW,"ARREST, BOOKED",MENDELL ST / HUDSON AV,-122.386401,37.738983,2015,5,13,21,40,0
19,2015-05-13 21:30:00,NON-CRIMINAL,FOUND PROPERTY,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,2015,5,13,21,30,0
20,2015-05-13 21:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,200 Block of EVELYN WY,-122.449389,37.742669,2015,5,13,21,30,0
21,2015-05-13 21:17:00,ROBBERY,"ROBBERY, BODILY FORCE",Wednesday,INGLESIDE,NONE,1600 Block of VALENCIA ST,-122.420272,37.747332,2015,5,13,21,17,0
22,2015-05-13 21:11:00,WARRANTS,WARRANT ARREST,Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,2015,5,13,21,11,0
23,2015-05-13 21:11:00,NON-CRIMINAL,"STAY AWAY OR COURT ORDER, NON-DV RELATED",Wednesday,TENDERLOIN,NONE,100 Block of JONES ST,-122.412250,37.782556,2015,5,13,21,11,0
24,2015-05-13 21:10:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,FILLMORE ST / LOMBARD ST,-122.436049,37.799841,2015,5,13,21,10,0
25,2015-05-13 21:00:00,NON-CRIMINAL,LOST PROPERTY,Wednesday,TENDERLOIN,NONE,300 Block of OFARRELL ST,-122.410509,37.786043,2015,5,13,21,0,0
26,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,2000 Block of BUSH ST,-122.431018,37.787388,2015,5,13,21,0,0
27,2015-05-13 21:00:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,INGLESIDE,NONE,500 Block of COLLEGE AV,-122.423656,37.732556,2015,5,13,21,0,0
28,2015-05-13 21:00:00,LARCENY/THEFT,ATTEMPTED THEFT FROM LOCKED VEHICLE,Wednesday,TARAVAL,NONE,19TH AV / SANTIAGO ST,-122.475773,37.744919,2015,5,13,21,0,0
29,2015-05-13 20:56:00,OTHER OFFENSES,MISCELLANEOUS INVESTIGATION,Wednesday,TARAVAL,NONE,2000 Block of 41ST AV,-122.499787,37.748518,2015,5,13,20,56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878019,2003-01-06 02:37:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,SOUTHERN,"ARREST, CITED",6TH ST / MARKET ST,-122.410294,37.782231,2003,1,6,2,37,0
878020,2003-01-06 02:32:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,NORTHERN,"ARREST, CITED",VAN NESS AV / TURK ST,-122.420642,37.781961,2003,1,6,2,32,0
878021,2003-01-06 02:24:00,VANDALISM,MALICIOUS MISCHIEF,Monday,NORTHERN,NOT PROSECUTED,SANCHEZ ST / 14TH ST,-122.431191,37.767595,2003,1,6,2,24,0
878022,2003-01-06 02:16:00,VEHICLE THEFT,RECOVERED VEHICLE - STOLEN OUTSIDE SF,Monday,MISSION,NONE,17TH ST / MISSION ST,-122.419516,37.763429,2003,1,6,2,16,0
878023,2003-01-06 02:15:00,LARCENY/THEFT,GRAND THEFT PICKPOCKET,Monday,TENDERLOIN,NONE,600 Block of ELLIS ST,-122.416894,37.784286,2003,1,6,2,15,0
878024,2003-01-06 02:09:00,OTHER OFFENSES,VIOLATION OF MUNICIPAL POLICE CODE,Monday,PARK,"ARREST, CITED",600 Block of DIVISADERO ST,-122.437781,37.775483,2003,1,6,2,9,0
878025,2003-01-06 02:06:00,OTHER OFFENSES,TRAFFIC VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,2003,1,6,2,6,0
878026,2003-01-06 02:06:00,WARRANTS,WARRANT ARREST,Monday,BAYVIEW,"ARREST, BOOKED",NEWHALL ST / GALVEZ AV,-122.387710,37.740674,2003,1,6,2,6,0
878027,2003-01-06 02:00:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,SOUTHERN,"ARREST, BOOKED",900 Block of MARKET ST,-122.409708,37.782828,2003,1,6,2,0,0
878028,2003-01-06 02:00:00,ASSAULT,AGGRAVATED ASSAULT WITH BODILY FORCE,Monday,SOUTHERN,NONE,6TH ST / MARKET ST,-122.410294,37.782231,2003,1,6,2,0,0
878029,2003-01-06 01:54:00,OTHER OFFENSES,PROBATION VIOLATION,Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,2003,1,6,1,54,0
878030,2003-01-06 01:54:00,SEX OFFENSES FORCIBLE,"FORCIBLE RAPE, BODILY FORCE",Monday,TENDERLOIN,"ARREST, BOOKED",1400 Block of GOLDEN GATE AV,-122.434423,37.779193,2003,1,6,1,54,0
878031,2003-01-06 01:50:00,ASSAULT,BATTERY,Monday,BAYVIEW,NONE,3RD ST / NEWCOMB AV,-122.390417,37.735593,2003,1,6,1,50,0
878032,2003-01-06 01:36:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",GEARY BL / FRANKLIN ST,-122.423031,37.785482,2003,1,6,1,36,0
878033,2003-01-06 01:30:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,2003,1,6,1,30,0
878034,2003-01-06 01:30:00,TRESPASS,TRESPASSING,Monday,RICHMOND,"ARREST, CITED",1000 Block of 22ND AV,-122.391668,37.757793,2003,1,6,1,30,0
878035,2003-01-06 00:55:00,ASSAULT,BATTERY,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,2003,1,6,0,55,0
878036,2003-01-06 00:55:00,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,2003,1,6,0,55,0
878037,2003-01-06 00:55:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM",Monday,NORTHERN,NONE,1300 Block of WEBSTER ST,-122.431046,37.783030,2003,1,6,0,55,0
878038,2003-01-06 00:42:00,WARRANTS,ENROUTE TO OUTSIDE JURISDICTION,Monday,TENDERLOIN,"ARREST, BOOKED",TAYLOR ST / GEARY ST,-122.411519,37.786941,2003,1,6,0,42,0
878039,2003-01-06 00:40:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,NORTHERN,"ARREST, CITED",POLK ST / CALIFORNIA ST,-122.420692,37.790577,2003,1,6,0,40,0
878040,2003-01-06 00:33:00,ASSAULT,INFLICT INJURY ON COHABITEE,Monday,MISSION,NONE,2800 Block of FOLSOM ST,-122.414073,37.751685,2003,1,6,0,33,0
878041,2003-01-06 00:31:00,OTHER OFFENSES,"DRIVERS LICENSE, SUSPENDED OR REVOKED",Monday,RICHMOND,"ARREST, CITED",CLEMENT ST / 14TH AV,-122.472985,37.782552,2003,1,6,0,31,0
878042,2003-01-06 00:20:00,ASSAULT,ATTEMPTED HOMICIDE WITH A GUN,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,2003,1,6,0,20,0
878043,2003-01-06 00:20:00,OTHER OFFENSES,PAROLE VIOLATION,Monday,BAYVIEW,"ARREST, BOOKED",1500 Block of SHAFTER AV,-122.389769,37.730564,2003,1,6,0,20,0
878044,2003-01-06 00:15:00,ROBBERY,ROBBERY ON THE STREET WITH A GUN,Monday,TARAVAL,NONE,FARALLONES ST / CAPITOL AV,-122.459033,37.714056,2003,1,6,0,15,0
878045,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,INGLESIDE,NONE,600 Block of EDNA ST,-122.447364,37.731948,2003,1,6,0,1,0
878046,2003-01-06 00:01:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Monday,SOUTHERN,NONE,5TH ST / FOLSOM ST,-122.403390,37.780266,2003,1,6,0,1,0
878047,2003-01-06 00:01:00,VANDALISM,"MALICIOUS MISCHIEF, VANDALISM OF VEHICLES",Monday,SOUTHERN,NONE,TOWNSEND ST / 2ND ST,-122.390531,37.780607,2003,1,6,0,1,0
878048,2003-01-06 00:01:00,FORGERY/COUNTERFEITING,"CHECKS, FORGERY (FELONY)",Monday,BAYVIEW,NONE,1800 Block of NEWCOMB AV,-122.394926,37.738212,2003,1,6,0,1,0

In [27]:
import matplotlib.pyplot as plt

x1= train[train['X'].between(-124, -120)]
y1= train[train['Y'].between(36, 39)]

# sns.regplot(x= x1, y= y1)

In [ ]:
# train.sort(['Category','X','Y'], ascending=[False,True,False])
train.sort_values(by=['Category','X','Y'], ascending=[False,True,False])

    ?
1. Address     
2.    24+10  
3. address  x,y   plot 
4.  category   seaborn ??

In [52]:
train["Address(initChr)"]= train["Address"].str[0]
# train["Address(initChr)"]

#one-hot     ASCII 
train["Address(initASCII)"]train["Address"].str[0].apply(ord)

0         79
1         79
2         86
3         49
4         49
5         48
6         65
7         75
8         54
9         74
10        74
11        48
12        84
13        70
14        50
15        48
16        69
17        71
18        77
19        49
20        50
21        49
22        49
23        49
24        70
25        51
26        50
27        53
28        49
29        50
          ..
878019    54
878020    86
878021    83
878022    49
878023    54
878024    54
878025    78
878026    78
878027    57
878028    54
878029    49
878030    49
878031    51
878032    71
878033    49
878034    49
878035    49
878036    49
878037    49
878038    84
878039    80
878040    50
878041    67
878042    49
878043    49
878044    70
878045    54
878046    53
878047    84
878048    49
Name: Address, Length: 878049, dtype: int64

In [ ]:
# import numpy as np

train["Dates-minute-abs"] = np.abs(train["Dates-minute"] - 30)

print(train.shape)
train[["Dates-minute", "Dates-minute-abs"]].head(10)

In [ ]:
test["Dates-minute-abs"] = np.abs(test["Dates-minute"] - 30)

print(test.shape)
test[["Dates-minute", "Dates-minute-abs"]].head(10)

In [ ]:
sns.countplot(data=train, x="Dates-minute-abs")

### Encode PdDistrict

In [ ]:
pd_district_list = train["PdDistrict"].unique()

pd_district_new_column_list = []

for pd_district in pd_district_list:    
    pd_district_new_column = "PdDistrict-{0}".format(pd_district)
    train[pd_district_new_column] = train["PdDistrict"] == pd_district
    
    pd_district_new_column_list.append(pd_district_new_column)

print(train.shape)
train[pd_district_new_column_list].head()

In [ ]:
for pd_district in pd_district_list:    
    pd_district_new_column = "PdDistrict-{0}".format(pd_district)
    test[pd_district_new_column] = test["PdDistrict"] == pd_district

print(test.shape)
test[pd_district_new_column_list].head()

### Parse Address

In [ ]:
train["CrossRoad"] = train["Address"].str.contains("/")

print(train.shape)
train[["Address", "CrossRoad"]].head()

In [ ]:
test["CrossRoad"] = test["Address"].str.contains("/")

print(test.shape)
test[["Address", "CrossRoad"]].head()

###     
1. /  ST, $  ST  duplicate Street  
  replace( "(.*ST\s\)/.(*ST$)", $2$1)
2. A/B  B/A , B/A A/B

In [ ]:
# train["Address"].unique().to_csv("unique_address")   fail
train["Address"].unique()

In [ ]:
def split_address(address):
    if "/" in address:
        return address.split("/")
    else:
        return address.split("of")

In [ ]:
# train["Address(Stemmed)"].apply(split_address)

In [ ]:
def split_address(address):
    if "/" in address:
        return address.split("/")

## Score

In [ ]:
# feature_names = ["X", "Y", "CrossRoad"]
# feature_names = feature_names + pd_district_new_column_list
# feature_names = feature_names + ["Dates-hour", "Dates-minute-abs"]
# feature_names

# X_train = train[feature_names]

# print(X_train.shape)
# X_train.head()

# X_test = test[feature_names]

# print(X_test.shape)
# X_test.head()

# label_name = "Category"

# y_train = train[label_name]

# print(y_train.shape)
# y_train.head()

### XGBoost

In [ ]:
# import xgboost as xgb
# # https://github.com/dmlc/xgboost/blob/master/doc/parameter.md

# model = xgb.XGBClassifier(n_estimators=15,
#                           nthread=-1,
#                           seed=37)
# model

# from sklearn.model_selection import cross_val_score

# %time score = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_log_loss').mean()

# print("Score = {0:.5f}".format(score))

** :        **

In [ ]:
# import xgboost as xgb

# # https://github.com/dmlc/xgboost/blob/master/doc/parameter.md

# model = xgb.XGBClassifier(n_estimators=45,
#                           max_depth=6,
#                           learning_rate=1.0,
#                           max_delta_step=1,
#                           nthread=-1,
#                           seed=37)
# model

In [ ]:
# from sklearn.model_selection import cross_val_score

# %time score = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_log_loss').mean()

# print("Score = {0:.5f}".format(score))

In [ ]:
# model.fit(X_train, y_train)

In [ ]:
# predictions = model.predict_proba(X_test)

# print(predictions.shape)
# predictions[0]

## Submit

In [ ]:
# submit = pd.read_csv("data/sampleSubmission.csv", index_col="Id")

# print(submit.shape)
# submit.head()

In [ ]:
# for i, column in enumerate(submit.columns):
#     submit[column] = predictions[:, i]

# print(submit.shape)
# submit.head()

In [ ]:
# submit.to_csv("baseline-script.csv")