#### 2-3 리스트 자료형

##### 리스트 인덱싱

In [8]:
odd1= range(1,10,2)
[i for i in odd1]

[1, 3, 5, 7, 9]

In [10]:
odd= [1,3,5,7,9]; odd

[1, 3, 5, 7, 9]

In [27]:
a= []
b= [1,2,3,4,5]
c= ['Life','is','too','hot']
d= [1,2,'왜자꾸','예제가']
c= [1,2,['목숨','타령이지']]

In [28]:
b

[1, 2, 3, 4, 5]

In [33]:
b[0]
print(b[0]| b[3]) # 001 OR 100 = 101
print(b[0]+ b[2]) # 1+3= 4
print(b[0]^ b[4]) # 001 XOR 101 = 100

5
4
4

In [34]:
b[-1]

5

In [42]:
a= [1,2,3,['a','b','c']]
a[0]
a[-1][1]
a[3][0]

'a'

In [48]:
a= [1,2,['a','b',['life','is','egg']]]
print(a[2])
print(a[2][2])
print(a[2][2][-1])

['a', 'b', ['life', 'is', 'egg']]
['life', 'is', 'egg']
egg

##### 리스트 슬라이싱

In [53]:
a= "12345"
print(a[0:2])

a=[1,2,3,4,5]
print(a[0:2])

12
[1, 2]

In [58]:
b= a[:2]; b # 0부터 1포함까지
c= a[2:]; c # 2부터 끝까지

[3, 4, 5]

In [60]:
a= [1,2,3,['a','b','c'],4,5]
a[2:5]
a[3][:2]

['a', 'b']

##### 리스트 연산자

In [61]:
a= [1,2,3]; b= [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [62]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [69]:
# a[2]+ 'hi' #unsupported operand type(s) for +: 'int' and 'str'
# str(a[2]+ 'hi') #unsupported operand type(s) for +: 'int' and 'str'
str(a[2])+'hi'

'3hi'

##### 슬라이싱은 원본이 바뀐다!

In [2]:
a= [1,2,3]; a
a[2]= 4; a

[1, 2, 4]

In [4]:
# 실행시마다 계속 적용됨
a[1:2]
a[1:2]= ['a','b','c']; print(a)
a[1]= ['a','b','c']; print(a)

[1, 'a', 'b', 'c', 'b', 'c', 4]
[1, ['a', 'b', 'c'], 'b', 'c', 'b', 'c', 4]

In [5]:
a[1:6]= []; a

[1, 4]

In [6]:
del a[1]

In [7]:
a

[1]

##### 리스트:요소추가, 정렬, 뒤집기, 삽입, 제거 등등

In [8]:
a=[1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [9]:
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [14]:
a= [1,4,3,2]
a.append([1,2])
a

[1, 4, 3, 2, [1, 2]]

In [15]:
# '<' not supported between instances of 'list' and 'int'
# a.sort() # list속 list 는 정렬이 안 된다. < 비교로 정렬하는 거라
# a #[1, 4, 3, 2, [1, 2]]

TypeError: '<' not supported between instances of 'list' and 'int'

In [16]:
a= [1,4,3,2]
a.sort(); a

[1, 2, 3, 4]

In [17]:
a= ['a','c','b']
a.sort()
a

['a', 'b', 'c']

In [2]:
a= ['a','c','b']
a.reverse()
a

['b', 'c', 'a']

In [4]:
a= [3,2,1]
a.index(3)
a.index(1)

2

In [7]:
#index는 없으면 error!
#a.index(0)

In [18]:
a= [1,2,3]
a.insert(0,4)
a.insert(2,[1,2])

In [36]:
a

[4, 1]

In [29]:
a.insert(1,5)

In [34]:
# index 0부터 해당값을 찾아 나온 첫번째 것만 삭제
a.remove(3); a

[4, 1, [1, 2]]

In [16]:
a.remove([1,2]); a

[4, 1, 5, 3]

In [35]:
a.pop()

[1, 2]

In [37]:
a= [1,2,3]
a.pop(1); a

[1, 3]

##### 리스트 확장
list [ ]: 수정 가능

In [1]:
a= [1,2,3,1]
a.count(1)

2

In [2]:
a= []
a.extend([4,5])

In [5]:
# b= 6 # error!
b= [6,7,8]
a.extend(b)
a

[4, 5, 6, 7, 8]

In [6]:
a+= [9,10]; print(a)
a= a+[11,12]; print(a)

[4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10, 11, 12]

In [9]:
# a-= [6,7]  # error!

TypeError: unsupported operand type(s) for -=: 'list' and 'list'

#### 튜플
tuple ( ): 수정 불가. 상수스러운걸 원할 때. 근데 추가는 잘 된다?

In [7]:
t1= ()
t1+= (3,4)
t1

(3, 4)

In [8]:
#t1.pop() # error!- 이런거 없대

AttributeError: 'tuple' object has no attribute 'pop'

In [10]:
t1+= (5,6); t1

(3, 4, 5, 6)

In [11]:
#t1.extend((7,8)) # error! -  이런거 없음

AttributeError: 'tuple' object has no attribute 'extend'

##### 괄호 있거나 없거나 있는걸로 ㅇㅇ 튜플.

In [12]:
t1= 1,2,3; t1

(1, 2, 3)