### 튜플

In [4]:
tt3= (10); print(tt3)
tt4= 10; print(tt4)
tt5= (10,); print(tt5)
tt6= 10,; print(tt6)

10
10
(10,)
(10,)

In [6]:
tt1= 10,20,30,40
print(tt1[0])
print(tt1[0]+tt1[2], tt1[1]+tt1[3])

10
40 60

In [10]:
print(tt1[1:3])
print(tt1[:3])
print(tt1[0:])

(20, 30)
(10, 20, 30)
(10, 20, 30, 40)

In [12]:
tt2= 'a','b'; print(tt2)
print(tt1+tt2)
print(tt2*3)

('a', 'b')
(10, 20, 30, 40, 'a', 'b')
('a', 'b', 'a', 'b', 'a', 'b')

In [13]:
tt= ((1,2,3),(4,5,6),(7,8,9)); tt

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [24]:
tt= tuple(tuple(j+3*i for j in range(1,3+1)) for i in range(0,3)); tt

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [5]:
n_i= 3
n_k= 4
# print("몇행 만들래")
# n_i= int(input())
# print("몇열 만들래")
# n_j= int(input())

tuple( tuple(k+ i*n_k for k in range(n_k+i)) for i in range(n_i))

((0, 1, 2, 3), (4, 5, 6, 7, 8), (8, 9, 10, 11, 12, 13))

In [32]:
type(random.randrange(10))

int

###### random으로 만들자고 한 시점부터 이미 val을 예쁘게 넣기는.. 절레절레

In [102]:
import random
n_i= 3; n_j= 5; # input 귀찮잖아
print("몇행 만들래")
# n_i= int(input())
print("몇열 만들래")
# n_j= int(input())
tt= tuple(tuple(j+4*i for j in range(random.randrange(i+1,i+n_j))) for i in range(0,n_i)); tt

몇행 만들래
몇열 만들래

((0, 1), (4, 5, 6), (8, 9, 10, 11, 12, 13))

In [65]:
import random
tt= tuple(tuple(j+3*i for j in range(random.randrange(2,6))) for i in range(0,3)); tt

((0, 1), (3, 4, 5, 6, 7), (6, 7))

In [38]:
# tt(0)(0) 응 아니야
tt[0][0]

0

In [43]:
n_i= len(tt); print(n_i)
print(len(tt[1]))

3
5

In [52]:
line= ""
for i in range(len(tt)):
    for j in range(len(tt[i])):
        line+= str("{0:3}".format(tt[i][j]))
    line+='\n'
print(line, end="")

  0  1  2
  3  4  5  6  7
  6  7  8  9 10 11 12

###### 언패킹

In [54]:
print(tt)

((0, 1, 2), (3, 4, 5, 6, 7), (6, 7, 8, 9, 10, 11, 12))

In [57]:
(tt11,tt12,tt13), tt2, tt3= tt
print(tt11)
print(tt12)
print(tt13)
print(tt2)
print(tt3)

0
1
2
(3, 4, 5, 6, 7)
(6, 7, 8, 9, 10, 11, 12)

In [ ]:
import numpy as np

In [48]:
# NAN 들어가네
a= (1,2,np.nan,3);a

(1, 2, nan, 3)