범죄 카테고리 맞추기
https://www.kaggle.com/c/sf-crime

kaggle san francisco crime classification
## .
log loss 알고리즘

XGboost

설치에러 해결법

에러문을 그대로 구글링::No files/directories in  pip-build-ej9ki3tg\xgboost\pip-egg-info from PKG-INFO)
https://stackoverflow.com/questions/33749735/how-to-install-xgboost-package-in-python-windows-platform/39811079#39811079

다운방법
https://www.lfd.uci.edu/~gohlke/pythonlibs/
버전이 뭔지 확인
pip --version

설치에러 해결법

에러문을 그대로 구글링::No files/directories in  pip-build-ej9ki3tg\xgboost\pip-egg-info from PKG-INFO)
https://stackoverflow.com/questions/33749735/how-to-install-xgboost-package-in-python-windows-platform/39811079#39811079
다운방법
https://www.lfd.uci.edu/~gohlke/pythonlibs/
버전이 뭔지 확인
pip --version

xgboost‑0.7‑cp36‑cp36m‑win_amd64.whl
내것에 맞는 요 파일을 다운받고, 다운받은 위치에서
pip install xgboost‑0.7‑cp36‑cp36m‑win_amd64.whl

In [4]:
import xgboost as xgb
import pandas as pd

In [8]:
train= pd.read_csv("data/train.csv")

print(train.shape)
train.head()
# Category, Descript, Resolution 은 train에만 있음
#pdDistrict, Address, X, Y

(878049, 9)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [6]:
test= pd.read_csv("data/test.csv")

print(test.shape)
test.head()

(884262, 7)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [7]:
train["Category"].unique()

array(['WARRANTS', 'OTHER OFFENSES', 'LARCENY/THEFT', 'VEHICLE THEFT',
       'VANDALISM', 'NON-CRIMINAL', 'ROBBERY', 'ASSAULT', 'WEAPON LAWS',
       'BURGLARY', 'SUSPICIOUS OCC', 'DRUNKENNESS',
       'FORGERY/COUNTERFEITING', 'DRUG/NARCOTIC', 'STOLEN PROPERTY',
       'SECONDARY CODES', 'TRESPASS', 'MISSING PERSON', 'FRAUD',
       'KIDNAPPING', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'SEX OFFENSES FORCIBLE', 'PROSTITUTION', 'DISORDERLY CONDUCT',
       'ARSON', 'FAMILY OFFENSES', 'LIQUOR LAWS', 'BRIBERY',
       'EMBEZZLEMENT', 'SUICIDE', 'LOITERING', 'SEX OFFENSES NON FORCIBLE',
       'EXTORTION', 'GAMBLING', 'BAD CHECKS', 'TREA', 'RECOVERED VEHICLE',
       'PORNOGRAPHY/OBSCENE MAT'], dtype=object)

### preprocessing

### Train

In [9]:
feature_name= ["X","Y"]; feature_name

['X', 'Y']

In [11]:
X_train= train[feature_name]
print(X_train.shape)
X_train.head()

(878049, 2)

            X          Y
0 -122.425892  37.774599
1 -122.425892  37.774599
2 -122.424363  37.800414
3 -122.426995  37.800873
4 -122.438738  37.771541

In [12]:
X_test= test[feature_name]
print(X_test.shape)
X_test.head()

(884262, 2)

            X          Y
0 -122.399588  37.735051
1 -122.391523  37.732432
2 -122.426002  37.792212
3 -122.437394  37.721412
4 -122.437394  37.721412

In [13]:
label_name= "Category"
y_train= train[label_name]

print(y_train.shape)
y_train.head()

(878049,)

0          WARRANTS
1    OTHER OFFENSES
2    OTHER OFFENSES
3     LARCENY/THEFT
4     LARCENY/THEFT
Name: Category, dtype: object

#### xgboost와 비교위해 랜덤포레스트

In [17]:
from sklearn.ensemble import RandomForestClassifier

# model= RandomForestClassifier()
model= RandomForestClassifier(n_jobs= -1) #병렬처리. -1: 컴퓨터에 core 수를 알아서 찾아서 max만치 돌림.
model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [21]:
from sklearn.model_selection import cross_val_score

# %time score= cross_val_score(model, X_train, y_train, cv=5).mean()
%time score= cross_val_score(model, X_train, y_train,\
                             cv=5, scoring="neg_log_loss").mean()
score= -1.0* score
print("Score= {0:.5f}".format(score))

Wall time: 1min 13s
Score= 6.73537

In [23]:
model.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [24]:
# predictions= model.predict(X_test)
# print(predictions.shape)
# predictions

(884262,)

array(['VEHICLE THEFT', 'OTHER OFFENSES', 'VEHICLE THEFT', ..., 'ASSAULT',
       'OTHER OFFENSES', 'LARCENY/THEFT'], dtype=object)

In [28]:
# 0번 범죄가 차량 범죄일 확률이 n%이다. soft measure?
#88만개에 m개 카테고리에 대해
predictions= model.predict_proba(X_test)
print(predictions.shape)
predictions

(884262, 39)

array([[ 0.        ,  0.0876024 ,  0.        , ...,  0.21453495,
         0.17654372,  0.        ],
       [ 0.        ,  0.10346892,  0.        , ...,  0.06469153,
         0.09422497,  0.01191828],
       [ 0.        ,  0.02875272,  0.        , ...,  0.2875002 ,
         0.        ,  0.        ],
       ...,
       [ 0.        ,  0.15642073,  0.        , ...,  0.13329324,
         0.0344899 ,  0.        ],
       [ 0.        ,  0.14027655,  0.        , ...,  0.06226641,
         0.        ,  0.09207335],
       [ 0.00185851,  0.04390343,  0.00138963, ...,  0.01909913,
         0.05656316,  0.00427546]])

### Submit

In [27]:
submission= pd.read_csv("data/sampleSubmission.csv", index_col="Id")
print(submission.shape)
submission.head()

(884262, 39)

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
Id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [30]:
submission= pd.DataFrame(predictions,
            index= submission.index,
            columns= submission.columns)

print(submission.shape)
submission.head()

(884262, 39)

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
Id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.087602,0.0,0.0,0.000000,0.00000,0.000000,0.040333,0.000000,0.069554,...,0.0,0.000000,0.0,0.108144,0.0,0.000000,0.068600,0.214535,0.176544,0.000000
1,0.0,0.103469,0.0,0.0,0.000000,0.00000,0.005453,0.065339,0.000000,0.000000,...,0.0,0.000000,0.0,0.022877,0.0,0.003762,0.011117,0.064692,0.094225,0.011918
2,0.0,0.028753,0.0,0.0,0.171536,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.000000,0.0,0.058430,0.0,0.000000,0.082423,0.287500,0.000000,0.000000
3,0.0,0.220820,0.0,0.0,0.033246,0.02192,0.009819,0.031390,0.014102,0.000000,...,0.0,0.012931,0.0,0.037042,0.0,0.000000,0.115871,0.000000,0.064022,0.053434
4,0.0,0.220820,0.0,0.0,0.033246,0.02192,0.009819,0.031390,0.014102,0.000000,...,0.0,0.012931,0.0,0.037042,0.0,0.000000,0.115871,0.000000,0.064022,0.053434

In [31]:
submission.to_csv("data/baseline-script.csv")
#나온 결과가 385MB. 이건 cross-validation, submit 둘다 오래 걸림
#보통 압축으로 업로드함