# 계층적 색인 예제
부러 Error나라고 만든 예제도 있으니 너무 안 된다 싶으면 링크 참조!

https://goo.gl/LepW3h

In [35]:
import numpy as np
import pandas as pd

In [43]:
arrays = [['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
           ['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two']]
tuples = list(zip(*arrays))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [14]:
arrays = [['bar', 'baz','foo', 'qux'],
           ['one', 'three', 'two', 'four']]

In [15]:
# arrays = [['bar', 'baz','foo', 'qux'],
#            ['one', 'three', 'two', 'four'],
#            ['one', 'three', 'two', 'four']]

In [16]:
dict(zip(*arrays))

{'bar': 'one', 'baz': 'three', 'foo': 'two', 'qux': 'four'}

### pd.MultiIndex.튜플로만들

In [18]:
pd.MultiIndex?

(levels=None, labels=None, sortorder=None, names=None, copy=False, verify_integrity=True
 , _set_identity=True, name=None, **kwargs)

#### names: 계층 인덱스 이름
#### tuples: 계층 인덱스 내용

#### levels: 각 index range. 수준
#### labels: 각 index number. 라벨

In [44]:
index = pd.MultiIndex.from_tuples(tuples=tuples, names=['first', 'second'])
index

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [18]:
# s = pd.Series(np.random.randn(8), index=index)
# s

first  second
bar    one       0.633517
       two       0.199881
baz    one      -0.972950
       two       0.473571
foo    one      -0.832629
       two       0.520085
qux    one      -1.042000
       two       0.928268
dtype: float64

이건 왜만듦?

In [19]:
# iterables = [['bar', 'baz', 'foo', 'qux'], ['one', 'two']]
# pd.MultiIndex.from_product(iterables, names=['first', 'second'])

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

#####

In [37]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
           np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one   -0.492678
     two   -1.990430
baz  one    0.765525
     two    1.165741
foo  one   -0.310917
     two   -1.198828
qux  one   -0.368185
     two   -0.903922
dtype: float64

In [38]:
df = pd.DataFrame(np.random.randn(8, 4), index=arrays)
df

                0         1         2         3
bar one -0.369008 -0.381573 -1.228168  0.022951
    two  2.909884 -0.440824 -1.110126  0.528189
baz one  0.436536 -0.772680 -1.110837  0.562889
    two -0.890370 -0.847707  0.114568 -0.847533
foo one  0.842767 -2.050896 -1.296419 -0.011165
    two  0.678723  0.079178  1.771048 -1.274606
qux one -1.317148 -0.472475 -1.581595  0.050681
    two  0.928881 -0.869859 -0.305348  0.278929

#### reindex는 어찌 써먹는지?
https://github.com/pandas-dev/pandas/issues/7895

In [106]:
d1 = pd.date_range('1/1/2018', '3/1/2018', freq='MS')
d21 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]}, index=d1)
dfu = d21.unstack()

In [107]:
d1

DatetimeIndex(['2018-01-01', '2018-02-01', '2018-03-01'], dtype='datetime64[ns]', freq='MS')

In [87]:
d2

   A  B
0  1  4
1  2  5
2  3  6

In [108]:
#index= d1
d21

            A  B
2018-01-01  1  4
2018-02-01  2  5
2018-03-01  3  6

In [109]:
dfu

A  2018-01-01    1
   2018-02-01    2
   2018-03-01    3
B  2018-01-01    4
   2018-02-01    5
   2018-03-01    6
dtype: int64

In [110]:
d2= pd.date_range('1/1/2018','3/31/2018', freq='D')
d2

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10', '2018-01-11', '2018-01-12',
               '2018-01-13', '2018-01-14', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-20',
               '2018-01-21', '2018-01-22', '2018-01-23', '2018-01-24',
               '2018-01-25', '2018-01-26', '2018-01-27', '2018-01-28',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-03', '2018-02-04', '2018-02-05',
               '2018-02-06', '2018-02-07', '2018-02-08', '2018-02-09',
               '2018-02-10', '2018-02-11', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-17',
               '2018-02-18', '2018-02-19', '2018-02-20', '2018-02-21',
               '2018-02-22', '2018-02-23', '2018-02-24', '2018-02-25',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-03', '2018-03-04', '2018-03-05',
               '2018-03-06', '2018-03-07', '2018-03-08', '2018-03-09',
               '2018-03-10', '2018-03-11', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-17',
               '2018-03-18', '2018-03-19', '2018-03-20', '2018-03-21',
               '2018-03-22', '2018-03-23', '2018-03-24', '2018-03-25',
               '2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31'],
              dtype='datetime64[ns]', freq='D')

In [111]:
dfu.reindex(d2, level=1)

A  2018-01-01    1
   2018-02-01    2
   2018-03-01    3
B  2018-01-01    4
   2018-02-01    5
   2018-03-01    6
dtype: int64

In [117]:
df = pd.DataFrame(np.random.randn(3, 8), index=['A', 'B', 'C'], columns=index)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.748029  0.222223 -0.607143 -0.867040  0.143805  0.491981 -0.443701
B      -0.505348  0.199575  1.108229  0.560155 -0.150386  1.572379 -1.032304
C      -1.741546  0.493594  0.554962 -0.332353  0.391301 -0.343377 -0.530045

first
second       two
A       0.840398
B      -2.470173
C      -0.324707

In [118]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one     0.607540 -1.959886 -1.094737 -0.104094  0.927988 -1.527563
      two     1.275691 -0.418625 -2.264986 -1.441696 -0.356607 -0.184928
baz   one    -0.256822  0.573849 -0.585332 -0.428418 -1.372085  0.340705
      two     0.406001 -0.253006  0.032920 -0.902973  0.836854 -0.596103
foo   one     1.772844 -0.386423 -0.081279  1.439368 -0.512405  1.292672
      two     1.568678 -0.749958 -2.149776 -1.361539 -1.050318  0.062901

In [119]:
pd.Series(np.random.randn(8), index=tuples)

(bar, one)    0.307289
(bar, two)   -0.067744
(baz, one)   -0.732908
(baz, two)    0.210659
(foo, one)    0.689795
(foo, two)    1.354773
(qux, one)    0.195875
(qux, two)    1.260014
dtype: float64

In [120]:
pd.set_option('display.multi_sparse', False)
df

first,bar,bar,baz,baz,foo,foo,qux,qux
second,one,two,one,two,one,two,one,two
A,-1.748029,0.222223,-0.607143,-0.867040,0.143805,0.491981,-0.443701,0.840398
B,-0.505348,0.199575,1.108229,0.560155,-0.150386,1.572379,-1.032304,-2.470173
C,-1.741546,0.493594,0.554962,-0.332353,0.391301,-0.343377,-0.530045,-0.324707

In [121]:
pd.set_option('display.multi_sparse', True)
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.748029  0.222223 -0.607143 -0.867040  0.143805  0.491981 -0.443701
B      -0.505348  0.199575  1.108229  0.560155 -0.150386  1.572379 -1.032304
C      -1.741546  0.493594  0.554962 -0.332353  0.391301 -0.343377 -0.530045

first
second       two
A       0.840398
B      -2.470173
C      -0.324707

In [122]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [54]:
index.get_level_values('first')

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [53]:
index.get_level_values(1)

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [52]:
index.get_level_values('second')

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [131]:
df.stack()

first          bar       baz       foo       qux
  second
A one    -1.748029 -0.607143  0.143805 -0.443701
  two     0.222223 -0.867040  0.491981  0.840398
B one    -0.505348  1.108229 -0.150386 -1.032304
  two     0.199575  0.560155  1.572379 -2.470173
C one    -1.741546  0.554962  0.391301 -0.530045
  two     0.493594 -0.332353 -0.343377 -0.324707

## index 특별취급 ㄴㄴ염
기존 알던걸로 충분히 접근 가능!
- 그래 물론 index 이름 설정하는 거랑
- index 이름 기반으로 접근하는 걸 몰라서 그렇지
- .xs랑 level=값 이 언제 등장하는지도

In [149]:
df.stack().xs('two', level=1)

first       bar       baz       foo       qux
A      0.222223 -0.867040  0.491981  0.840398
B      0.199575  0.560155  1.572379 -2.470173
C      0.493594 -0.332353 -0.343377 -0.324707

In [169]:
print(type(df.stack()))
df.stack()

<class 'pandas.core.frame.DataFrame'>

first          bar       baz       foo       qux
  second
A one    -1.748029 -0.607143  0.143805 -0.443701
  two     0.222223 -0.867040  0.491981  0.840398
B one    -0.505348  1.108229 -0.150386 -1.032304
  two     0.199575  0.560155  1.572379 -2.470173
C one    -1.741546  0.554962  0.391301 -0.530045
  two     0.493594 -0.332353 -0.343377 -0.324707

In [168]:
# df.stack()['one'] 이건 그냥 안됨
# df.stack()[['one']] 마찬가지 ㄴㄴ
# df.stack().loc['one'] 안됨 ㅇㅇ
# df.stack().loc[['one']] 안되구요
# df.stack().xs(['one']) 응 안되
# df.stack()['second'] ㅇㅇㄷ
# df.stack()[['second']] ㅇㅇㄷ
# df.stack()['first'] ㅇㅇㄷ
# df.stack()[['first']] ㅇㅇㄷ
# df.stack().xs('one') ㅇㅇㄷ
df.stack().xs('one', level=1)

first       bar       baz       foo       qux
A     -1.748029 -0.607143  0.143805 -0.443701
B     -0.505348  1.108229 -0.150386 -1.032304
C     -1.741546  0.554962  0.391301 -0.530045

In [180]:
df.stack().xs('one',level=1, drop_level=False)

first          bar       baz       foo       qux
  second
A one    -1.748029 -0.607143  0.143805 -0.443701
B one    -0.505348  1.108229 -0.150386 -1.032304
C one    -1.741546  0.554962  0.391301 -0.530045

In [178]:
# df.xs('one') KeyError: 'one'
#     ----> 1 df.xs('one')
#       2 # df.xs(key, axis=0, level=None, drop_level=True)

# df.xs(key, axis=0, level=None, drop_level=True)

In [ ]:
df.stack().xs

In [ ]:
df.stack().xs

In [137]:
df.loc[['A']]

first        bar                 baz                foo                 qux  \
second       one       two       one      two       one       two       one
A      -1.748029  0.222223 -0.607143 -0.86704  0.143805  0.491981 -0.443701

first
second       two
A       0.840398

In [134]:
df.stack().loc[['A']]

first          bar       baz       foo       qux
  second
A one    -1.748029 -0.607143  0.143805 -0.443701
  two     0.222223 -0.867040  0.491981  0.840398

In [138]:
df.stack().loc[['A']].stack()

   second  first
A  one     bar     -1.748029
           baz     -0.607143
           foo      0.143805
           qux     -0.443701
   two     bar      0.222223
           baz     -0.867040
           foo      0.491981
           qux      0.840398
dtype: float64

### Series 에는 그냥 ['뭐'] 로 접근 가능한거고,
### DataFrame에선 .loc나 .iloc로 해야

In [128]:
data22= Series(np.random.randn(10), index= [['a','a','a','b','b','b','c','c','d','d'],
                                           [1,2,3,1,2,3,1,2,2,3]])
data22

a  1    2.020021
   2   -0.631511
   3    1.677604
b  1   -0.722345
   2   -0.789350
   3    1.752175
c  1    0.078530
   2   -0.179255
d  2    0.936439
   3   -0.835384
dtype: float64

In [129]:
data22['b']

1   -0.722345
2   -0.789350
3    1.752175
dtype: float64

In [127]:
df['bar']

second       one       two
A      -1.748029  0.222223
B      -0.505348  0.199575
C      -1.741546  0.493594

In [56]:
df['bar', 'one']

A   -0.972391
B    0.765927
C   -0.441737
Name: (bar, one), dtype: float64

In [57]:
df['bar']['one']

A   -0.972391
B    0.765927
C   -0.441737
Name: one, dtype: float64

In [59]:
#"['one'] not in index" df[['bar', 'one']]

In [61]:
s

bar  one   -0.492678
     two   -1.990430
baz  one    0.765525
     two    1.165741
foo  one   -0.310917
     two   -1.198828
qux  one   -0.368185
     two   -0.903922
dtype: float64

In [60]:
s['qux']

one   -0.368185
two   -0.903922
dtype: float64

In [62]:
df.columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=['first', 'second'])

In [63]:
df[['foo','qux']].columns

MultiIndex(levels=[['bar', 'baz', 'foo', 'qux'], ['one', 'two']],
           labels=[[2, 2, 3, 3], [0, 1, 0, 1]],
           names=['first', 'second'])

In [ ]:
df[['foo','qux']].columns.values
df[['foo','qux']].columns.get_level_values(0)
df[['foo','qux']].columns.remove_unused_levels()
s + s[:-2]
s + s[::2]
s.reindex(index[:3])
s.reindex([('foo', 'two'), ('bar', 'one'), ('qux', 'one'), ('baz', 'one')])
df = df.T
df
df.loc['bar']
df.loc['bar', 'two']
df.loc['baz':'foo']
df.loc[('baz', 'two'):('qux', 'one')]
df.loc[('baz', 'two'):'foo']
df.loc[[('bar', 'two'), ('qux', 'one')]]
def mklbl(prefix,n):
    return ["%s%s" % (prefix,i)  for i in range(n)]

miindex = pd.MultiIndex.from_product([mklbl('A',4),
                                      mklbl('B',2),
                                      mklbl('C',4),
                                      mklbl('D',2)])
micolumns = pd.MultiIndex.from_tuples([('a','foo'),('a','bar'),
                                       ('b','foo'),('b','bah')],
                                      names=['lvl0', 'lvl1'])
dfmi = pd.DataFrame(np.arange(len(miindex)*len(micolumns)).reshape((len(miindex),len(micolumns))),
                    index=miindex,
                    columns=micolumns).sort_index().sort_index(axis=1)
dfmi
dfmi.loc[(slice('A1','A3'), slice(None), ['C1', 'C3']), :]
idx = pd.IndexSlice
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]
dfmi.loc['A1', (slice(None), 'foo')]
dfmi.loc[idx[:, :, ['C1', 'C3']], idx[:, 'foo']]
mask = dfmi[('a', 'foo')] > 200
dfmi.loc[idx[mask, :, ['C1', 'C3']], idx[:, 'foo']]
dfmi.loc(axis=0)[:, :, ['C1', 'C3']]
df2 = dfmi.copy()
df2.loc(axis=0)[:, :, ['C1', 'C3']] = -10
df2
df2 = dfmi.copy()
df2.loc[idx[:, :, ['C1', 'C3']], :] = df2 * 1000
df2
df
df.xs('one', level='second')
df.loc[(slice(None),'one'),:]
df = df.T
df.xs('one', level='second', axis=1)
df.loc[:,(slice(None),'one')]
df.xs(('one', 'bar'), level=('second', 'first'), axis=1)
df.loc[:,('bar','one')]
df.xs('one', level='second', axis=1, drop_level=False)
df.xs('one', level='second', axis=1, drop_level=True)
midx = pd.MultiIndex(levels=[['zero', 'one'], ['x','y']],
                      labels=[[1,1,0,0],[1,0,1,0]])
df = pd.DataFrame(np.random.randn(4,2), index=midx)
df
df2 = df.mean(level=0)
df2
df2.reindex(df.index, level=0)
df_aligned, df2_aligned = df.align(df2, level=0)
df_aligned
df2_aligned
df[:5]
df[:5].swaplevel(0, 1, axis=0)
df[:5].reorder_levels([1,0], axis=0)
import random; random.shuffle(tuples)
s = pd.Series(np.random.randn(8), index=pd.MultiIndex.from_tuples(tuples))
s
s.sort_index()
s.sort_index(level=0)
s.sort_index(level=1)
s.index.set_names(['L1', 'L2'], inplace=True)
s.sort_index(level='L1')
s.sort_index(level='L2')
df.T.sort_index(level=1, axis=1)
dfm = pd.DataFrame({'jim': [0, 0, 1, 1],
                     'joe': ['x', 'x', 'z', 'y'],
                     'jolie': np.random.rand(4)})
dfm = dfm.set_index(['jim', 'joe'])
dfm
dfm.loc[(1, 'z')]
# dfm.loc[(0,'y'):(1, 'z')]
dfm.index.is_lexsorted()
dfm.index.lexsort_depth
dfm = dfm.sort_index()
dfm
dfm.index.is_lexsorted()
dfm.index.lexsort_depth
dfm.loc[(0,'y'):(1, 'z')]
index = pd.Index(np.random.randint(0, 1000, 10))
index
positions = [0, 9, 3]
index[positions]
index.take(positions)
ser = pd.Series(np.random.randn(10))
ser.iloc[positions]
ser.take(positions)
frm = pd.DataFrame(np.random.randn(5, 3))
frm.take([1, 4, 3])
frm.take([0, 2], axis=1)
arr = np.random.randn(10)
arr.take([False, False, True, True])
arr[[0, 1]]
ser = pd.Series(np.random.randn(10))
ser.take([False, False, True, True])
ser.iloc[[0, 1]]
from pandas.api.types import CategoricalDtype
df = pd.DataFrame({'A': np.arange(6),
                    'B': list('aabbca')})
# df['B'] = df['B'].astype(CategoricalDtype(list('cab')))
df
df.dtypes
# df.B.cat.categories
df2 = df.set_index('B')
df2.index
df2.loc['a']
df2.loc['a'].index
df2.sort_index()
df2.groupby(level=0).sum()
df2.groupby(level=0).sum().index
# df2.reindex(['a','e'])
# df2.reindex(['a','e']).index
# df2.reindex(pd.Categorical(['a','e'],categories=list('abcde')))
# df2.reindex(pd.Categorical(['a','e'],categories=list('abcde'))).index
df3 = pd.DataFrame({'A' : np.arange(6),
                    'B' : pd.Series(list('aabbca')).astype('category')})
df3 = df3.set_index('B')
df3.index
pd.concat([df2, df3])
indexf = pd.Index([1.5, 2, 3, 4.5, 5])
indexf
sf = pd.Series(range(5), index=indexf)
sf
sf[3]
sf[3.0]
sf.loc[3]
sf.loc[3.0]
sf.iloc[3]
sf[2:4]
sf.loc[2:4]
sf.iloc[2:4]
sf[2.1:4.6]
sf.loc[2.1:4.6]
# pd.Series(range(5))[3.5]
# pd.Series(range(5))[3.5:4.5]
# pd.Series(range(5)).iloc[3.0]
dfir = pd.concat([pd.DataFrame(np.random.randn(5,2),
                                index=np.arange(5) * 250.0,
                                columns=list('AB')),
                   pd.DataFrame(np.random.randn(6,2),
                                index=np.arange(4,10) * 250.1,
                                columns=list('AB'))])
dfir
dfir[0:1000.4]
dfir.loc[0:1001,'A']
dfir.loc[1000.4]
dfir[0:1000]
dfir.iloc[0:5]
df = pd.DataFrame({'A': [1, 2, 3, 4]},
                    index=pd.IntervalIndex.from_breaks([0, 1, 2, 3, 4]))
df
df.loc[2]
df.loc[[2, 3]]
df.loc[2.5]
df.loc[[2.5, 3.5]]
c = pd.cut(range(4), bins=2)
c
c.categories
pd.cut([0, 3, 5, 1], bins=c.categories)
df = pd.DataFrame(index=[2,3,3,4,5], columns=['data'], data=list(range(5)))
df.index.is_monotonic_increasing
# df.loc[0:4, :]
df.loc[13:15, :]
df = pd.DataFrame(index=[2,3,1,4,3,5], columns=['data'], data=list(range(6)))
df.index.is_monotonic_increasing
df.loc[2:4, :]
df3 = pd.DataFrame({'A' : np.arange(6),
                            'B' : pd.Series(list('aabbca')).astype('category')})
# df.loc[2:3, :]
weakly_monotonic = pd.Index(['a', 'b', 'c', 'c'])
weakly_monotonic
weakly_monotonic.is_monotonic_increasing
weakly_monotonic.is_monotonic_increasing & weakly_monotonic.is_unique
s = pd.Series(np.random.randn(6), index=list('abcdef'))
s
s[2:5]
s.loc['c':'e']
series1 = pd.Series([1, 2, 3])
series1.dtype
res = series1.reindex([0, 4])
res.dtype
res
series2 = pd.Series([True])
series2.dtype
res = series2.reindex_like(series1)
res.dtype
res

## 프린트 for test

In [4]:
from pandas import DataFrame, Series
import numpy as np

In [6]:
data= Series(np.random.randn(10), index=[['a','a','a','b','b','b','c','c','d','d'],
                                       [1,2,3,1,2,3,1,2,2,3]])

In [7]:
data

a  1   -0.321765
   2    0.473064
   3   -0.900450
b  1   -0.794525
   2    0.373607
   3   -0.883934
c  1    0.422836
   2    0.206000
d  2    0.416403
   3    1.097390
dtype: float64

In [8]:
data.index

MultiIndex(levels=[['a', 'b', 'c', 'd'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 3, 3], [0, 1, 2, 0, 1, 2, 0, 1, 1, 2]])

In [9]:
data['b']

1   -0.794525
2    0.373607
3   -0.883934
dtype: float64

In [10]:
data['b':'c']

b  1   -0.794525
   2    0.373607
   3   -0.883934
c  1    0.422836
   2    0.206000
dtype: float64

In [14]:
data[['b','d']]

b  1   -0.794525
   2    0.373607
   3   -0.883934
d  2    0.416403
   3    1.097390
dtype: float64

In [16]:
# data['b','d']

In [11]:
data.ix[['b','d']]

C:\Users\kitcoop\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

b  1   -0.794525
   2    0.373607
   3   -0.883934
d  2    0.416403
   3    1.097390
dtype: float64

In [12]:
data.loc[['b','d']]

b  1   -0.794525
   2    0.373607
   3   -0.883934
d  2    0.416403
   3    1.097390
dtype: float64

In [13]:
data[:,2]

a    0.473064
b    0.373607
c    0.206000
d    0.416403
dtype: float64

In [18]:
data

a  1   -0.321765
   2    0.473064
   3   -0.900450
b  1   -0.794525
   2    0.373607
   3   -0.883934
c  1    0.422836
   2    0.206000
d  2    0.416403
   3    1.097390
dtype: float64

### .unstack(): 2번째(최하위) index가 칼럼으로
### .stack(): 칼럼이 최하위 index로

In [17]:
data.unstack()

          1         2         3
a -0.321765  0.473064 -0.900450
b -0.794525  0.373607 -0.883934
c  0.422836  0.206000       NaN
d       NaN  0.416403  1.097390

In [19]:
data.unstack().stack()

a  1   -0.321765
   2    0.473064
   3   -0.900450
b  1   -0.794525
   2    0.373607
   3   -0.883934
c  1    0.422836
   2    0.206000
d  2    0.416403
   3    1.097390
dtype: float64

In [20]:
frame= DataFrame(np.arange(12).reshape((4,3)),
                index= [['a','a','b','b'],[1,2,1,2]],
                columns=[['ohio','Ohio','Colorado'],['Green','Red','Green']])
frame

     ohio Ohio Colorado
    Green  Red    Green
a 1     0    1        2
  2     3    4        5
b 1     6    7        8
  2     9   10       11

In [23]:
frame2= DataFrame(np.arange(12).reshape(4,3),
         index= [['a','a','b','b'],[1,2,1,2]],
         columns= [['A','B','C']])
frame2

     A   B   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [25]:
frame2['A']

a  1    0
   2    3
b  1    6
   2    9
Name: A, dtype: int32

In [30]:
frame2= DataFrame(np.arange(12).reshape(4,3),
         index= [['a','a','b','b'],[1,2,1,2]],
#          names= [['알벳','넘버']],
         columns= [['A','B','C']])
frame2

     A   B   C
a 1  0   1   2
  2  3   4   5
b 1  6   7   8
  2  9  10  11

In [32]:
frame2.set_index([['알벳','넘버']])

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements